.A_CircleStage {
  width: 25px;
  height: 25px;
  border-radius: 50%;

  &.current {
    background-color: var(--black);
    border: 5px solid var(--green);
  }
  &.active {
    background-color: var(--green);
  }
  &.disabled {
    background-color: var(--darkgray);
  }
}
