.O_ProgressBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 954px;

  .Q_Line {
    position: absolute;
    width: 860px;
    margin: 24px 0 0 40px;
    background: #c5c5c5;
    z-index: -2;
  }

  .W_SurveyStage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

    p {
      font-weight: 600;
      font-size: 16px;
      color: var(--darkgray);
    }
  }
}
