.A_Logo {
  display: block;
  width: 281px;
  height: 39px;
  background-position: top left;
  background-size: contain;
  background-repeat: no-repeat;

  &.black {
    background-image: url('./images/newlogo.svg');
  }

  &.white {
    background-image: url('./images/newlogowhite.svg');
  }
}

.A_Logo:hover {
  &.black {
    background-image: url('./images/basic/logo.gif');
  }

  &.white {
    background-image: url('./images/basic/logowhite.gif');
  }
}

.A_LogoGifFix {
  position: absolute;
  top: -100vh;
  left: -100vw;
  display: block;
  width: 280px;
  height: 38px;
  background-position: top left;
  background-size: contain;
  background-repeat: no-repeat;

  &.black {
    background-image: url('./images/basic/logo.gif');
  }

  &.white {
    background-image: url('./images/basic/logowhite.gif');
  }
}

.A_NavBarCategory {
  display: block;
  font-size: 14px;
  font-family: 'Druk Text Wide Cyr';
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--black);
  padding-bottom: 2px;

  &.white {
    color: var(--white);
  }
}

.A_NavBarCategory:hover {
  border-bottom: 5px solid var(--green);
}

.A_BoldTextFooter {
  display: block;
  width: 100%;
  line-height: 135%;
  font-size: 16px;
  font-family: 'Druk Text Wide Cyr';
  font-weight: 500;
  text-decoration: none;
  color: var(--black);

  &.white {
    color: var(--white);
  }
}

.A_NormTextFooter {
  display: block;
  width: 100%;
  font-size: 16px;
  font-family: 'Inter';
  font-weight: 400;
  text-decoration: none;
  color: var(--black);

  &.white {
    color: var(--white);
  }
}

.A_StyleArticleSubText {
  font-size: 14px;
  font-family: 'Druk Text Wide Cyr';
  font-weight: 800;
  text-transform: uppercase;
}

.A_TitleDruzhok {
  line-height: 100%;
  font-size: 388px;
  font-family: 'DRUZHOK';
  font-weight: 400;
  text-transform: uppercase;
}

.A_TitleDruk {
  line-height: 100%;
  font-size: 388px;
  font-family: 'Druk Condensed Cyr Super';
  font-weight: 800;
  text-transform: uppercase;
}

.A_TitleImage {
  position: absolute;
  max-width: 180px;
  max-height: 280px;
  z-index: 2;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  img:hover {
    display: none;
  }
}

.A_ArticleText {
  line-height: 135%;
  font-size: 18px;
  font-family: 'Inter';
  font-weight: 400;
}

.A_CharecterText {
  font-size: 20px;
  font-family: 'Druk Text Wide Cyr';
  font-weight: 500;
  text-transform: uppercase;
}

.A_RecomendedInfluencersTitle {
  font-size: 14px;
  font-family: 'Druk Text Wide Cyr';
  font-weight: 800;
  text-transform: uppercase;
}

.A_AvatarInfluencerName {
  width: 84px;
  margin-top: 10px;
  font-size: 12px;
  font-family: 'Druk Text Wide Cyr';
  font-weight: 500;
  text-align: center;
}

.A_AvatarImage {
  width: 64px;
  height: 64px;
  filter: grayscale(1);

  img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
  }
}

.A_ArticleHeadingWide {
  font-size: 56px;
  font-family: 'Druk Text Wide Cyr';
  font-weight: 1000;
  text-transform: uppercase;
}

.A_ArticleHeadingNormal {
  font-size: 78px;
  font-family: 'Druk Cyr';
  font-weight: 800;
  text-transform: uppercase;
}

.A_ArticleBody {
  line-height: 135%;
  font-size: 20px;
  font-weight: 400;
  font-family: 'Inter';

  p {
    margin-bottom: 40px;
  }

  b {
    font-weight: 700;
  }

  ul {
    list-style: disc;

    li {
      padding-bottom: 20px;
    }
  }
}

.A_OptionStyleTitle {
  width: 252px;
  margin-right: 20px;
  line-height: 120%;
  font-size: 20px;
  font-family: 'Druk Text Wide Cyr';
  font-weight: 500;
  text-transform: uppercase;
}

.A_OptionStyleText {
  width: 252px;
  line-height: 135%;
  font-size: 20px;
  font-family: 'Inter';
  font-weight: 400;
}

.A_Slide {
  &.double {
    width: 100%;
    display: inline-flex;
    align-items: flex-start;
    gap: 20px;
  }
}

.A_DescriptorInArticle {
  margin-top: 18px;
  font-size: 14px;
  font-family: 'Druk Text Wide Cyr';
  font-weight: 800;
}

.A_Counter {
  min-width: 16px;
  margin-right: 20px;
  font-size: 20px;
  font-family: 'Druk Text Cyr';
  font-weight: 800;
}

.A_SlideDescription {
  max-width: 460px;
  font-size: 20px;
  font-family: 'Druk Text Wide Cyr';
  font-weight: 800;
}

.A_SliderButton {
}

.A_RecomendationText {
  font-size: 36px;
  font-family: 'Druk Text Wide Cyr';
  font-weight: 500;
  color: var(--black);
}

.A_ButtonBack {
  display: flex;
  align-items: center;
  height: fit-content;
  font-size: 16px;
  font-family: 'Druk Text Wide Cyr';
  font-weight: 500;
  text-decoration: none;
  color: var(--black);
  cursor: pointer;

  .A_ButtonBack:hover {
    text-decoration: underline;
  }
}

.A_ButtonBack::before {
  content: '';
  display: inline-block;
  width: 47px;
  height: 47px;
  margin-right: 10px;
  border-radius: 50%;
  background-color: var(--black);
  background-image: url('./images/basic/ArrowHorizontalWhite.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60%;
  transform: rotate(-180deg);
}

.A_StyleName {
  font-size: 24px;
  font-family: 'Druk Text Cyr';
  font-weight: 500;
}

.A_CharecterName {
  line-height: 100%;
  font-size: 36px;
  font-family: 'Druk Cyr';
  font-weight: 800;
  text-transform: uppercase;
}

.A_TitleCharacteristics {
  font-size: 20px;
  font-family: 'Druk Text Cyr';
  font-weight: 800;
  text-transform: lowercase;
  color: var(--black);
}

.A_ContentCharacteristics {
  font-size: 20px;
  font-family: 'Druk Text Wide Cyr';
  font-weight: 800;
  text-transform: lowercase;
  color: var(--black);
}

.A_CoverText {
  margin-top: -50px;
  font-size: 670px;
  font-family: 'Druk Condensed Cyr Super';
  font-weight: 400;
  line-height: 100%;
  text-transform: uppercase;
  user-select: none;
  z-index: -1;

  .wide {
    font-family: 'Druk Text Wide Cyr';
    font-weight: 800;
    letter-spacing: -16px;
    margin-left: -40px;
  }

  .medium {
    font-family: 'Druk Text Cyr';
    font-weight: 800;
    letter-spacing: -10px;
  }
}

.A_StyleCategoryName {
  position: relative;
  display: inline-flex;
  gap: 10px;
  align-items: flex-end;
  line-height: 100%;
  font-size: 126px;
  font-family: 'Druk Condensed Cyr Super';
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--black);
  z-index: 2;
}

.A_StyleCategoryMenuOption {
  margin-top: 6px;
  line-height: 80%;
  font-size: 20px;
  font-family: 'Druk Text Wide Cyr';
  font-weight: 800;
  text-decoration: none;
  color: var(--black);
}

.A_SectionName {
  font-size: 200px;
  font-family: 'DRUZHOK';
  font-weight: 400;
}

.A_MoreButton {
  height: 30px;
  width: max-content;
  font-size: 24px;
  font-family: 'Druk Text Cyr';
  font-weight: 500;
  cursor: pointer;

  .A_MoreButton:hover {
    border-bottom: 5px solid var(--green);
  }
}

.A_CardImage {
  height: 440px;
}

.A_HintText {
  position: absolute;
  width: 250px;
  margin-top: -84px;
  padding: 20px;
  line-height: 135%;
  font-size: 14px;
  font-family: 'Inter';
  font-weight: 500;
  background-color: var(--green);

  &.hidden {
    display: none;
  }
}

.A_ToggleSwitchOption {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 50px;
  border-radius: 50px;
  font-size: 18px;
  font-family: 'Inter';
  font-weight: 500;
  color: var(--white);
  background-color: var(--black);
  cursor: pointer;

  &.active {
    color: var(--black);
    background-color: var(--green);
  }
}

.A_RunningLine,
.A_RunningLineTwo {
  width: max-content;
  margin-top: -90px;
  animation-play-state: running;
  font-size: 790px;
  font-family: 'Druk Condensed Cyr Super';
  font-weight: 800;
  color: var(--white);

  .Q_WideLetter {
    font-size: 790px;
    font-family: 'Druk Text Wide Cyr';
  }

  @keyframes line {
    0% {
      transform: translateX(0%);
    }

    100% {
      transform: translateX(-100%);
    }
  }
}

.A_RunningLine {
  animation: line 15s linear infinite;
}

.A_RunningLineTwo {
  animation: line 25s linear infinite;
}

.A_RunningLineImage {
  position: absolute;
  width: 350px;
  z-index: 2;

  .Q_Image {
    img {
      transition: all 0.5s ease-out;
    }
  }
}

.A_InfluenserImages {
  display: none;
  position: absolute;
  max-width: 300px;
  min-width: 150px;
  max-height: 300px;
  min-height: 150px;
  filter: brightness(70%);
  z-index: 1;

  .Q_Image {
    position: relative;

    img {
      animation: slideup 0.5s 1 ease-out;

      @keyframes slideup {
        0% {
          object-position: 0px -150px;
        }
        100% {
          object-position: center top;
        }
      }
    }
  }

  .Q_Image:nth-child(1) {
    left: 200px;
    top: -230px;
  }

  .Q_Image:nth-child(2) {
    left: -120px;
    top: -400px;
  }
  .Q_Image:nth-child(3) {
    left: 230px;
    top: -350px;
  }
}

.A_InfluencerName {
  font-size: 72px;
  font-family: 'Druk Cyr';
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--white);
  cursor: pointer;
  z-index: 2;
}

.A_FixedImage {
  display: none;
}

.A_TitleLine {
  width: max-content;
  margin-top: -135px;
  font-size: 790px;
  font-family: 'Druk Condensed Cyr Super';
  font-weight: 800;
  color: var(--white);
  user-select: none;

  .Q_WideLetter {
    font-size: 790px;
    font-family: 'Druk Text Wide Cyr';
  }
}

.A_LineImages {
  position: relative;
  z-index: 2;

  .Q_Image {
    position: absolute;
  }

  .Q_Image:nth-child(1) {
    left: 10vw;
    top: 15vh;
    width: 250px;
    height: 360px;
  }

  .Q_Image:nth-child(2) {
    left: 55vw;
    top: 30vh;
    width: 250px;
    height: 380px;
  }
  .Q_Image:nth-child(3) {
    left: 80vw;
    top: 0vh;
    width: 200px;
    height: 260px;
  }
}

.A_PageDescription {
  max-width: 450px;
  line-height: 135%;
  font-size: 18px;
  font-family: 'Druk Text Wide Cyr';
  font-weight: 500;
}

.A_AntitrendImage {
  &.long {
    max-height: 700px;
    min-height: 600px;
  }

  &.short {
    max-height: 500px;
    min-height: 400px;
  }
}

.A_MainPageCoverText {
  line-height: 100%;

  &.druk {
    font-size: 350px;
    font-family: 'Druk Condensed Cyr Super';

    .Q_WideLetter {
      font-family: 'Druk Text Wide Cyr';
      font-weight: 800;
    }
  }

  &.druzhok {
    margin-bottom: -55px;
    font-size: 310px;
    font-family: 'DRUZHOK';
  }
}

.A_MainPageCoverText:nth-child(3) {
  padding-left: 350px;
}

.A_ArticlePreviewTitle {
  font-size: 260px;

  &.druk {
    line-height: 80%;
    font-family: 'Druk Condensed Cyr Super';
    text-transform: uppercase;

    .Q_WideLetter {
      font-family: 'Druk Text Wide Cyr';
      font-weight: 800;
    }
  }
  &.druzhok {
    line-height: 100%;
    margin-bottom: -60px;
    font-family: 'DRUZHOK';
  }
}

//adaptives

@media only screen and (min-width: 1280px) and (max-width: 1679px) {
  .A_Logo {
    width: 280px;
    height: 38px;
  }

  .A_NavBarCategory {
    padding-bottom: 2px;
    font-size: 14px;
  }

  .A_NavBarCategory:hover {
    border-bottom: 5px solid var(--green);
  }

  .A_BoldTextFooter {
    font-size: 12px;
  }

  .A_NormTextFooter {
    font-size: 12px;
  }

  .A_StyleArticleSubText {
    font-size: 14px;
  }

  .A_TitleDruzhok {
    line-height: 100%;
    font-size: 300px;
  }

  .A_TitleDruk {
    line-height: 100%;
    font-size: 300px;
  }

  .A_TitleImage {
    max-width: 180px;
    max-height: 280px;
  }

  .A_ArticleText {
    font-size: 18px;
  }

  .A_CharecterText {
    font-size: 20px;
  }

  .A_RecomendedInfluencersTitle {
    font-size: 14px;
  }

  .A_AvatarInfluencerName {
    width: 84px;
    margin-top: 10px;
    font-size: 10px;
  }

  .A_AvatarImage {
    width: 64px;
    height: 64px;
  }

  .A_ArticleHeadingWide {
    font-size: 56px;
  }

  .A_ArticleHeadingNormal {
    font-size: 78px;
  }

  .A_ArticleBody {
    line-height: 135%;
    font-size: 18px;

    p {
      margin-bottom: 30px;
    }

    ul {
      li {
        padding-bottom: 20px;
      }
    }
  }

  .A_OptionStyleTitle {
    width: 196px;
    margin-right: 15px;
    font-size: 14px;
  }

  .A_OptionStyleText {
    width: 196px;
    font-size: 14px;
  }

  .A_DescriptorInArticle {
    margin-top: 18px;
    font-size: 12px;
  }

  .A_Counter {
    margin-right: 20px;
    font-size: 12px;
  }

  .A_SlideDescription {
    font-size: 12px;
  }

  .A_RecomendationText {
    font-size: 32px;
  }

  .A_ButtonBack {
    font-size: 16px;
  }

  .A_ButtonBack::before {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }

  .A_StyleName {
    font-size: 20px;
  }

  .A_CharecterName {
    font-size: 36px;
  }

  .A_TitleCharacteristics {
    font-size: 14px;
  }

  .A_ContentCharacteristics {
    font-size: 14px;
  }

  .A_CoverText {
    margin-top: -50px;
    font-size: 520px;
  }

  .A_StyleCategoryName {
    gap: 10px;
    font-size: 114px;
  }

  .A_StyleCategoryMenuOption {
    margin-top: 6px;
    line-height: 80%;
    font-size: 12px;
  }

  .A_SectionName {
    font-size: 140px;
  }

  .A_MoreButton {
    height: 20px;
    font-size: 14px;

    .A_MoreButton:hover {
      border-bottom: 5px;
    }
  }

  .A_CardImage {
    height: 420px;
  }

  .A_RunningLine,
  .A_RunningLineTwo {
    margin-top: -70px;
    font-size: 650px;

    .Q_WideLetter {
      font-size: 650px;
    }
  }

  .A_RunningLineImage {
    width: 320px;
    height: 320px;
  }

  .A_InfluenserImages {
    max-width: 180px;
    min-width: 120px;
    max-height: 180px;
    min-height: 120px;

    .Q_Image:nth-child(1) {
      left: 130px;
      top: -140px;
    }

    .Q_Image:nth-child(2) {
      left: -64px;
      top: -320px;
    }
    .Q_Image:nth-child(3) {
      left: 90px;
      top: -240px;
    }
  }

  .A_InfluencerName {
    font-size: 56px;
  }

  .A_ToggleSwitchOption {
    width: 126px;
    height: 46px;
    font-size: 14px;
  }

  .A_LineImages {
    .Q_Image:nth-child(1) {
      width: 200px;
      height: 310px;
    }

    .Q_Image:nth-child(2) {
      width: 200px;
      height: 330px;
    }
    .Q_Image:nth-child(3) {
      width: 150px;
      height: 210px;
    }
  }

  .A_MainPageCoverText {
    line-height: 100%;

    &.druk {
      font-size: 280px;
    }

    &.druzhok {
      margin-bottom: -30px;
      font-size: 230px;
    }
  }

  .A_MainPageCoverText:nth-child(3) {
    padding-left: 260px;
  }

  .A_ArticlePreviewTitle {
    font-size: 210px;

    &.druk {
      line-height: 80%;
    }
    &.druzhok {
      margin-bottom: -60px;
    }
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1279px) {
  .A_Logo {
    width: 148px;
    height: 20px;
  }

  .A_NavBarCategory {
    padding-bottom: 2px;
    font-size: 12px;
  }

  .A_NavBarCategory:hover {
    border-bottom: 5px;
  }

  .A_BoldTextFooter {
    font-size: 12px;
  }

  .A_NormTextFooter {
    font-size: 12px;
  }

  .A_StyleArticleSubText {
    font-size: 12px;
  }

  .A_TitleDruzhok {
    line-height: 100%;
    font-size: 300px;
  }

  .A_TitleDruk {
    line-height: 100%;
    font-size: 300px;
  }

  .A_TitleImage {
    max-width: 150px;
    max-height: 220px;
  }

  .A_ArticleText {
    line-height: 135%;
    font-size: 14px;
  }

  .A_CharecterText {
    font-size: 12px;
  }

  .A_RecomendedInfluencersTitle {
    font-size: 10px;
  }

  .A_AvatarInfluencerName {
    width: 65px;
    margin-top: 10px;
    font-size: 10px;
  }

  .A_AvatarImage {
    width: 56px;
    height: 56px;
  }

  .A_ArticleHeadingWide {
    font-size: 30px;
  }

  .A_ArticleHeadingNormal {
    font-size: 40px;
  }

  .A_ArticleBody {
    line-height: 135%;
    font-size: 14px;

    p {
      margin-bottom: 24px;
    }

    ul {
      li {
        padding-bottom: 20px;
      }
    }
  }

  .A_OptionStyleTitle {
    width: 152px;
    margin-right: 15px;
    font-size: 12px;
  }

  .A_OptionStyleText {
    width: 206px;
    font-size: 12px;
  }

  .A_DescriptorInArticle {
    margin-top: 18px;
    font-size: 12px;
  }

  .A_Counter {
    margin-right: 20px;
    font-size: 12px;
  }

  .A_SlideDescription {
    font-size: 12px;
  }

  .A_RecomendationText {
    font-size: 20px;
  }

  .A_ButtonBack {
    font-size: 14px;
  }

  .A_ButtonBack::before {
    width: 26px;
    height: 26px;
    margin-right: 8px;
  }

  .A_StyleName {
    font-size: 16px;
  }

  .A_CharecterName {
    font-size: 32px;
  }

  .A_TitleCharacteristics {
    font-size: 12px;
  }

  .A_ContentCharacteristics {
    font-size: 12px;
  }

  .A_CoverText {
    margin-top: -50px;
    font-size: 410px;
  }

  .A_StyleCategoryName {
    gap: 10px;
    font-size: 70px;
  }

  .A_StyleCategoryMenuOption {
    margin-top: 6px;
    line-height: 80%;
    font-size: 10px;
  }

  .A_SectionName {
    font-size: 100px;
  }

  .A_MoreButton {
    height: 20px;
    font-size: 10px;

    .A_MoreButton:hover {
      border-bottom: 5px;
    }
  }

  .A_CardImage {
    height: 350px;
  }

  .A_HintText {
    width: 180px;
    margin-top: -70px;
    padding: 20px;
    font-size: 10px;
  }

  .A_ToggleSwitchOption {
    width: 120px;
    height: 40px;
    border-radius: 50px;
    font-size: 12px;
  }

  .A_RunningLine,
  .A_RunningLineTwo {
    margin-top: -60px;
    font-size: 590px;

    .Q_WideLetter {
      font-size: 590px;
    }
  }

  .A_RunningLine {
    animation: line 20s linear infinite;
  }

  .A_RunningLineTwo {
    animation: line 30s linear infinite;
  }

  .A_RunningLineImage {
    width: 280px;
    height: 280px;
  }

  .A_InfluenserImages {
    display: none;
  }

  .A_InfluencerName {
    font-size: 40px;
  }

  .A_LineImages {
    .Q_Image:nth-child(1) {
      width: 170px;
      height: 280px;
    }

    .Q_Image:nth-child(2) {
      width: 170px;
      height: 300px;
    }
    .Q_Image:nth-child(3) {
      width: 120px;
      height: 180px;
    }
  }

  .A_PageDescription {
    max-width: 400px;
    font-size: 14px;
  }

  .A_AntitrendImage {
    &.long {
      max-height: 550px;
      min-height: 400px;
    }

    &.short {
      max-height: 400px;
      min-height: 250px;
    }
  }

  .A_MainPageCoverText {
    line-height: 100%;

    &.druk {
      font-size: 230px;
    }

    &.druzhok {
      margin-bottom: -30px;
      font-size: 180px;
    }
  }

  .A_MainPageCoverText:nth-child(3) {
    padding-left: 210px;
  }

  .A_ArticlePreviewTitle {
    font-size: 170px;

    &.druk {
      line-height: 80%;
    }
    &.druzhok {
      margin-bottom: -60px;
    }
  }
}

@media only screen and (min-width: 744px) and (max-width: 1023px) {
  .A_Logo {
    width: 148px;
    height: 20px;
  }

  .A_NavBarCategory {
    padding-bottom: 2px;
    font-size: 12px;
  }

  .A_NavBarCategory:hover {
    border-bottom: 5px;
  }

  .A_BoldTextFooter {
    font-size: 11px;
  }

  .A_NormTextFooter {
    font-size: 12px;
  }

  .A_StyleArticleSubText {
    font-size: 12px;
  }

  .A_TitleDruzhok {
    line-height: 100%;
    font-size: 200px;
  }

  .A_TitleDruk {
    line-height: 100%;
    font-size: 200px;
  }

  .A_TitleImage {
    max-width: 125px;
    max-height: 180px;
  }

  .A_ArticleText {
    line-height: 135%;
    font-size: 12px;
  }

  .A_CharecterText {
    font-size: 12px;
  }

  .A_RecomendedInfluencersTitle {
    font-size: 8px;
  }

  .A_AvatarInfluencerName {
    width: 65px;
    margin-top: 10px;
    font-size: 8px;
  }

  .A_AvatarImage {
    width: 44px;
    height: 44px;
  }

  .A_ArticleHeadingWide {
    font-size: 30px;
  }

  .A_ArticleHeadingNormal {
    font-size: 40px;
  }

  .A_ArticleBody {
    line-height: 135%;
    font-size: 14px;

    p {
      margin-bottom: 18px;
    }

    ul {
      li {
        padding-bottom: 16px;
      }
    }
  }

  .A_OptionStyleTitle {
    width: 104px;
    margin-right: 12px;
    font-size: 10px;
  }

  .A_OptionStyleText {
    width: 104px;
    font-size: 10px;
  }

  .A_DescriptorInArticle {
    margin-top: 8px;
    font-size: 10px;
  }

  .A_Counter {
    margin-right: 20px;
    font-size: 10px;
  }

  .A_SlideDescription {
    font-size: 10px;
  }

  .A_RecomendationText {
    font-size: 20px;
  }

  .A_ButtonBack {
    font-size: 14px;
  }
  .A_ButtonBack::before {
    width: 26px;
    height: 26px;
    margin-right: 6px;
  }

  .A_StyleName {
    font-size: 16px;
  }

  .A_CharecterName {
    font-size: 32px;
  }

  .A_TitleCharacteristics {
    font-size: 10px;
  }

  .A_ContentCharacteristics {
    font-size: 10px;
  }

  .A_CoverText {
    margin-top: -50px;
    font-size: 296px;
  }

  .A_StyleCategoryName {
    gap: 10px;
    font-size: 54px;
  }

  .A_StyleCategoryMenuOption {
    margin-top: 6px;
    line-height: 80%;
    font-size: 8px;
  }

  .A_SectionName {
    font-size: 70px;
  }

  .A_MoreButton {
    height: 14px;
    font-size: 8px;

    .A_MoreButton:hover {
      border-bottom: 5px;
    }
  }

  .A_CardImage {
    height: 240px;
  }

  .A_HintText {
    width: 154px;
    margin-top: -60px;
    padding: 14px;
    font-size: 8px;
  }

  .A_RunningLine,
  .A_RunningLineTwo {
    margin-top: -60px;
    font-size: 590px;

    .Q_WideLetter {
      font-size: 590px;
    }
  }

  .A_RunningLine {
    animation: line 20s linear infinite;
  }

  .A_RunningLineTwo {
    animation: line 30s linear infinite;
  }

  .A_RunningLineImage {
    width: 220px;
    height: 220px;
  }

  .A_InfluenserImages {
    display: none;
  }

  .A_InfluencerName {
    font-size: 40px;
  }

  ///
  .A_ToggleSwitchOption {
    width: 120px;
    height: 40px;
    border-radius: 50px;
    font-size: 12px;
  }

  .A_LineImages {
    .Q_Image:nth-child(1) {
      top: 10vh;
      width: 150px;
      height: 260px;
    }

    .Q_Image:nth-child(2) {
      top: 20vh;
      width: 150px;
      height: 250px;
    }
    .Q_Image:nth-child(3) {
      width: 100px;
      height: 160px;
    }
  }

  .A_PageDescription {
    max-width: 400px;
    font-size: 14px;
  }

  .A_AntitrendImage {
    &.long {
      max-height: 450px;
      min-height: 300px;
    }

    &.short {
      max-height: 300px;
      min-height: 250px;
    }
  }

  .A_MainPageCoverText {
    line-height: 100%;

    &.druk {
      font-size: 160px;
    }

    &.druzhok {
      margin-bottom: -30px;
      font-size: 130px;
    }
  }

  .A_MainPageCoverText:nth-child(3) {
    padding-left: 150px;
  }

  .A_ArticlePreviewTitle {
    font-size: 120px;

    &.druk {
      line-height: 80%;
    }
    &.druzhok {
      margin-bottom: -40px;
    }
  }
}

@media only screen and (min-width: 360px) and (max-width: 743px) {
  .A_Logo {
    width: 148px;
    height: 20px;
  }

  .A_BoldTextFooter {
    font-size: 12px;
  }

  .A_NormTextFooter {
    font-size: 12px;
  }

  .A_StyleArticleSubText {
    font-size: 10px;
  }

  .A_TitleDruzhok {
    line-height: 100%;
    font-size: 76px;
  }

  .A_TitleDruk {
    line-height: 100%;
    font-size: 86px;
  }

  .A_TitleImage {
    max-width: 242px;
    max-height: 275px;
  }

  .A_ArticleText {
    line-height: 135%;
    font-size: 12px;
  }

  .A_CharecterText {
    font-size: 12px;
  }

  .A_RecomendedInfluencersTitle {
    font-size: 10px;
  }

  .A_AvatarInfluencerName {
    width: 65px;
    margin-top: 10px;
    font-size: 8px;
  }

  .A_AvatarImage {
    width: 44px;
    height: 44px;
  }

  .A_ArticleHeadingWide {
    font-size: 40px;
  }

  .A_ArticleHeadingNormal {
    font-size: 48px;
  }

  .A_ArticleBody {
    line-height: 135%;
    font-size: 14px;

    p {
      margin-bottom: 18px;
    }

    ul {
      li {
        padding-bottom: 16px;
      }
    }
  }

  .A_OptionStyleTitle {
    width: 155px;
    margin-right: 20px;
    font-size: 10px;
  }

  .A_OptionStyleText {
    width: 155px;
    font-size: 10px;
  }

  .A_DescriptorInArticle {
    margin-top: 8px;
    font-size: 12px;
  }

  .A_Counter {
    margin-right: 14px;
    font-size: 12px;
  }

  .A_SlideDescription {
    font-size: 12px;
  }

  .A_RecomendationText {
    font-size: 20px;
  }

  .A_ButtonBack {
    font-size: 14px;
  }

  .A_ButtonBack::before {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }

  .A_StyleName {
    font-size: 20px;
  }

  .A_CharecterName {
    font-size: 24px;
  }

  .A_TitleCharacteristics {
    font-size: 8px;
    font-family: 'Druk Text Wide Cyr';
  }

  .A_ContentCharacteristics {
    font-size: 8px;
    font-family: 'Inter';
    font-weight: 400;
  }

  .A_CoverText {
    margin-top: -20px;
    font-size: 138px;

    .wide {
      margin-left: 0;
      letter-spacing: -4px;
    }

    .medium {
      letter-spacing: -4px;
    }
  }

  .A_StyleCategoryName {
    gap: 10px;
    font-size: 50px;
  }

  .A_StyleCategoryMenuOption {
    margin-top: 6px;
    line-height: 80%;
    font-size: 8px;
  }

  .A_SectionName {
    font-size: 50px;
  }

  .A_MoreButton {
    display: none;
  }

  .A_CardImage {
    height: 350px;
  }

  .A_HintText {
    width: 160px;
    margin-top: -60px;
    padding: 10px;
    font-size: 10px;
  }

  .A_RunningLineImage {
    display: none;
  }

  .A_InfluenserImages {
    display: none;
  }

  .A_InfluencerName {
    font-size: 32px;
    padding-bottom: 40px;
  }

  .A_RunningLine,
  .A_RunningLineTwo {
    display: none;
  }

  .A_StaticLine {
    width: 360px;
    margin-top: -20px;
    font-size: 116px;
    font-family: 'Druk Cyr';
    font-weight: 800;
    color: var(--white);

    .Q_WideLetter {
      font-size: 116px;
      font-family: 'Druk Text Wide Cyr';
    }
  }

  .A_FixedImage {
    display: block;
    grid-column: 2 / 5;
    position: absolute;
    height: 40vh;
    width: 100%;
    margin-top: 50px;
    filter: brightness(70%);
    z-index: -1;
  }

  .A_LineImages {
    .Q_Image:nth-child(1) {
      top: 22vh;
      width: 150px;
      height: 230px;
    }

    .Q_Image:nth-child(2) {
      top: 40vh;
      width: 150px;
      height: 200px;
    }
    .Q_Image:nth-child(3) {
      top: 18vh;
      left: 70vw;
      width: 80px;
      height: 110px;
    }
  }

  .A_PageDescription {
    max-width: 400px;
    font-size: 14px;
  }

  .A_AntitrendImage {
    &.long {
      max-height: 450px;
      min-height: 300px;
    }

    &.short {
      max-height: 300px;
      min-height: 250px;
    }
  }

  .A_ToggleSwitchOption {
    width: 170px;
    height: 46px;
    font-size: 14px;
  }

  .A_PageDescription {
    font-size: 14px;
    max-width: 360px;
  }

  .A_MainPageCoverText {
    line-height: 100%;

    &.druk {
      font-size: 80px;
    }

    &.druzhok {
      margin-bottom: -10px;
      font-size: 60px;
    }
  }

  .A_MainPageCoverText:nth-child(3) {
    padding-left: 74px;
  }

  .A_ArticlePreviewTitle {
    font-size: 90px;

    &.druk {
      text-align: left;
    }

    &.druzhok {
      margin-bottom: -20px;
    }
  }
}
