.O_NavBar {
  position: relative;
  display: grid;
  width: 1636px;
  grid-template-columns: repeat(18, 1fr);
  column-gap: 20px;
  margin: 0 auto;

  .W_NavBar {
    grid-column: 1 / 19;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;

    .Q_SearchIcon {
      margin-left: 20px;
    }

    .W_NavBarCategories {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      height: auto;

      .C_NavBarCategories {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 40px;
        height: 20px;
      }
    }
  }
}

.O_NavBarMobile {
  display: none;
}

.O_Footer {
  position: relative;
  display: grid;
  width: 1636px;
  grid-template-columns: repeat(18, 1fr);
  column-gap: 20px;
  margin: 0 auto;

  .W_SocialMediaIcons {
    grid-column: 16 / 19;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
  }

  .W_NamesFooter,
  .W_CopyrightFooter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    width: 100%;
    margin-top: 50px;

    .A_BoldTextFooter {
      margin-top: 10px;
    }
  }

  .W_NamesFooter {
    grid-column: 16 / 19;
  }

  .W_CopyrightFooter {
    grid-column: 1 / 3;
  }
}

.O_QuizBlock {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80vw;
  padding: 50px;
  border: 1px solid var(--black);
  border-radius: 15px;
  background-color: var(--white);

  .W_QuizTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
  }

  .W_TagBar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
    padding: 0 50px;
    gap: 20px 10px;
  }

  .W_QuizBottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
  }
}

.O_ProgressBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 954px;

  .Q_Line {
    position: absolute;
    width: 860px;
    margin: 24px 0 0 40px;
    background: #c5c5c5;
    z-index: -2;
  }

  .W_SurveyStage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

    p {
      font-weight: 600;
      font-size: 16px;
      color: var(--darkgray);
    }
  }
}

.O_StyleArticleDescription {
  grid-column: 2 / 7;
  position: relative;
  width: 100%;
  height: auto;
  padding: 60px 60px 30px 30px;
  background: var(--green);
  // margin-top: -35%;
  z-index: -1;

  .W_TagBar {
    margin-top: 6px;

    .M_Tag {
      margin-top: 6px;
    }
  }
}

.O_SliderGallery {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &.LeftWide {
    grid-column: 1 / 9;

    .A_Slide {
      width: var(--wide);
    }
  }

  &.RightNarrow {
    grid-column: 10 / 16;

    .A_Slide {
      width: var(--narrow);
    }
  }

  &.RightWide {
    grid-column: 10 / 18;

    .A_Slide {
      width: var(--wide);
    }
  }

  &.LeftNarrow {
    grid-column: 1 / 7;

    .A_Slide {
      width: var(--narrow);
    }
  }

  &.Wide {
    grid-column: 1 / 19;

    .A_Slide {
      width: var(--ultrawide);
    }
  }
}

.O_StyleCard {
  width: 348px;
  text-decoration: none;
  color: var(--black);

  .A_StyleName {
    margin-top: 10px;
    // margin-bottom: 10px;
  }

  .W_TagBar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 6px;

    .M_Tag {
      margin-top: 6px;
      margin-right: 6px;
    }
  }
}

.O_Characters {
  grid-column: 2 / 17;
  width: 100%;

  .A_StyleArticleSubText {
    margin-bottom: 48px;
  }

  .A_CharecterName {
    margin-top: 16px;
  }
}

.O_StyleCategoryMenu {
  display: flex;
  flex-direction: column;
}

.O_StyleCategoryMenu:hover .M_StyleCategoryMenuBottom {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.O_StyleCategoryMenu:hover {
  .A_StyleCategoryName {
    .Q_Arrow {
      opacity: 0;
    }
  }
}

.O_RecomendationsBlock {
  position: relative;
  display: grid;
  width: 1636px;
  grid-template-columns: repeat(18, 1fr);
  column-gap: 20px;
  padding-top: 100px;
  padding-bottom: 100px;
  margin: 0 auto;

  .W_StylesRail {
    grid-column: 7 /19;
  }
}

.O_ToggleSwitch {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: max-content;
  // padding: 30px 0;
  padding: 14px 0;
  margin: 0;
}

.O_RunningLine {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.O_Influencers {
  position: relative;
  display: grid;
  width: 1636px;
  grid-template-columns: repeat(18, 1fr);
  column-gap: 20px;
  margin: 0 auto;
  padding-bottom: 300px;

  .W_InfluencersNames {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 40px;
    flex-wrap: wrap;
    grid-column: 1 / 19;
    width: 100%;
  }
}

.O_ScrollAntitrends {
  position: relative;
  width: 100%;
  overflow-x: hidden;
  // overflow-x: scroll;
  // scrollbar-width: none;

  .C_AntitrendsRail {
    position: relative;
    left: 0;
    display: flex;
    flex-direction: row;
    gap: 0px;
    justify-content: flex-start;
    align-items: flex-start;
    width: max-content;
    padding-right: 200px;
    transition: left 1s;

    .O_Antitrend {
      position: relative;

      .M_Slider {
        grid-column: 2 / 4;
        justify-content: flex-start;
        align-items: center;
        margin-top: -54px;
      }
    }
  }

  .M_ButtonSurvey {
    position: absolute;
    bottom: 90px;
  }
}

.O_Gallery {
  grid-column: 1 / 19;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(18, 1fr);
  column-gap: 20px;
  margin: 0 auto;
  margin-bottom: 200px;

  .W_AntitrendOption {
    cursor: pointer;
    max-height: 300px;
    min-height: 150px;

    &#cardigan {
      grid-column: 1/ 4;
    }

    &#naked {
      grid-column: 12/ 15;
    }

    &#snud {
      grid-column: 9/ 11;
      margin-top: -150%;
    }

    &#sweater {
      grid-column: 5/ 7;
      margin-top: -150%;
    }

    &#oversize {
      grid-column: 2/ 5;
      margin-top: -120%;
    }

    &#collar {
      grid-column: 16/ 19;
      margin-top: -100%;
    }

    &#skinny {
      grid-column: 8/ 10;
      margin-top: -200%;
    }

    &#neon {
      grid-column: 4 / 7;
      margin-top: 15%;
    }

    &#clutch {
      grid-column: 1/ 3;
      margin-top: -160%;
    }

    &#decor {
      grid-column: 14/ 16;
      margin-top: -100%;
    }

    &#jacket {
      grid-column: 17/ 19;
      margin-top: -200%;
    }

    &#waist {
      grid-column: 11/ 14;
      margin-top: -120%;
    }

    &#hils {
      grid-column: 14/ 17;
      margin-top: -250%;
    }

    &#pleating {
      grid-column: 11 / 13;
      margin-top: -140%;
    }

    &#ugly {
      grid-column: 7/ 10;
      margin-top: 15%;
    }

    .Q_Image {
      display: inline;
      filter: brightness(90%);
    }
  }
}

.O_AntitrendsPreview {
  grid-column: 1 / 19;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(18, 1fr);
  column-gap: 20px;
  margin-left: auto;
  margin-right: auto;

  .W_ArticleTitle {
    grid-column: 11 / 18;
  }

  .M_ButtonSurvey {
    grid-column: 15 / 18;
    margin-top: 20px;
    color: var(--white);
  }
}

.O_ErrorContent {
  grid-column: 10 / 18;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: flex-start;

  .A_ErrorWoops {
    margin-top: 10px;
    margin-bottom: -30px;
  }
}
//adaptives

@media only screen and (min-width: 1280px) and (max-width: 1679px) {
  .O_NavBar {
    width: 1248px;
    column-gap: 12px;

    .W_NavBar {
      grid-column: 1 / 19;
      margin-top: 40px;

      .Q_SearchIcon {
        margin-left: 20px;
      }
    }
  }

  .O_Footer {
    width: 1248px;
    column-gap: 12px;

    .W_NamesFooter,
    .W_CopyrightFooter {
      margin-top: 50px;

      .A_BoldTextFooter {
        margin-top: 8px;
      }
    }
  }

  .O_StyleArticleDescription {
    grid-column: 1 / 7;
    padding: 60px 20px 30px 20px;
    // margin-top: -130px;

    .W_TagBar {
      margin-top: 6px;

      .M_Tag {
        margin-top: 6px;
      }
    }
  }

  .O_SliderGallery {
    .A_Slide {
      &.double {
        gap: 12px;
      }
    }
  }

  .O_StyleCard {
    width: 302px;

    .A_StyleName {
      margin-top: 10px;
      // margin-bottom: 10px;
    }

    .W_TagBar {
      .M_Tag {
        margin-top: 6px;
        margin-right: 6px;
      }
    }
  }

  .O_Characters {
    .A_StyleArticleSubText {
      margin-bottom: 32px;
    }

    .A_CharecterName {
      margin-top: 16px;
    }
  }

  .O_RecomendationsBlock {
    width: 1248px;
    column-gap: 12px;
    padding-top: 100px;
    padding-bottom: 100px;

    .W_StylesRail {
      grid-column: 7 /19;
    }
  }

  .O_ToggleSwitch {
    padding: 20px 0 0 0;
  }

  .O_RunningLine {
    margin-bottom: 80px;
  }

  .O_Influencers {
    width: 1248px;
    column-gap: 12px;
    padding-bottom: 200px;

    .W_InfluencersNames {
      gap: 40px;
    }
  }

  .O_Gallery {
    column-gap: 12px;
  }

  .O_AntitrendsPreview {
    width: 1248px;
    column-gap: 12px;

    .W_ArticleTitle {
      grid-column: 10 / 19;
    }

    .M_ButtonSurvey {
      grid-column: 16 / 19;
    }
  }

  .O_ErrorContent {
    grid-column: 10 / 19;

    .A_ErrorWoops {
      margin-top: 50px;
      margin-bottom: -30px;
    }
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1279px) {
  .O_NavBar {
    width: 960px;
    column-gap: 12px;

    .W_NavBar {
      grid-column: 1 / 19;
      margin-top: 40px;

      .Q_SearchIcon {
        margin-left: 20px;
      }
    }
  }

  .O_Footer {
    width: 960px;
    column-gap: 12px;

    .W_NamesFooter,
    .W_CopyrightFooter {
      margin-top: 50px;

      .A_BoldTextFooter {
        margin-top: 6px;
      }
    }

    .W_NamesFooter {
      grid-column: 15 / 19;
    }

    .W_CopyrightFooter {
      grid-column: 1 / 4;
    }

    .W_SocialMediaIcons {
      grid-column: 15 / 19;
    }
  }

  .O_StyleArticleDescription {
    grid-column: 1 / 8;
    padding: 60px 40px 20px 20px;
    // margin-top: -80px;

    .W_TagBar {
      margin-top: 6px;

      .M_Tag {
        margin-top: 6px;
      }
    }
  }

  .O_SliderGallery {
    .A_Slide {
      &.double {
        gap: 12px;
      }
    }
  }

  .O_StyleCard {
    width: 230px;

    .A_StyleName {
      margin-top: 10px;
      // margin-bottom: 10px;
    }

    .W_TagBar {
      .M_Tag {
        margin-top: 6px;
        margin-right: 6px;
      }
    }
  }

  .O_Characters {
    .A_StyleArticleSubText {
      margin-bottom: 28px;
    }

    .A_CharecterName {
      margin-top: 10px;
    }
  }

  .O_RecomendationsBlock {
    width: 960px;
    column-gap: 12px;
    padding-top: 100px;
    padding-bottom: 100px;

    .W_StylesRail {
      grid-column: 7 /19;
    }
  }

  .O_ToggleSwitch {
    padding: 20px 0 0 0;
  }

  .O_RunningLine {
    margin-bottom: 80px;
  }

  .O_Influencers {
    width: 960px;
    column-gap: 12px;
    padding-bottom: 50px;

    .W_InfluencersNames {
      gap: 30px;
    }
  }

  .O_ScrollAntitrends {
    .M_ButtonSurvey {
      bottom: 0px;
    }
  }

  .O_Gallery {
    column-gap: 12px;
  }

  .O_AntitrendsPreview {
    width: 960px;
    column-gap: 12px;
  }

  .O_ErrorContent {
    grid-column: 10 / 19;
    .A_ErrorWoops {
      margin-top: 20px;
      margin-bottom: -20px;
    }
  }
}

@media only screen and (min-width: 744px) and (max-width: 1023px) {
  .O_NavBar {
    width: 708px;
    column-gap: 12px;

    .W_NavBar {
      grid-column: 1 / 19;
      margin-top: 40px;

      .W_NavBarCategories {
        .C_NavBarCategories {
          gap: 16px;
        }
      }
    }
  }

  .O_Footer {
    width: 708px;
    column-gap: 12px;

    .W_NamesFooter,
    .W_CopyrightFooter {
      margin-top: 50px;

      .A_BoldTextFooter {
        margin-top: 6px;
      }
    }

    .W_NamesFooter {
      grid-column: 14 / 19;
    }

    .W_CopyrightFooter {
      grid-column: 1 / 4;
    }

    .W_SocialMediaIcons {
      grid-column: 14 / 19;
    }
  }

  .O_StyleArticleDescription {
    grid-column: 1 / 8;
    padding: 40px 40px 20px 20px;
    // margin-top: -40px;

    .W_TagBar {
      margin-top: 6px;

      .M_Tag {
        margin-top: 6px;
      }
    }
  }

  .O_SliderGallery {
    .A_Slide {
      &.double {
        gap: 12px;
      }
    }
  }

  .O_StyleCard {
    width: 168px;

    .A_StyleName {
      margin-top: 10px;
      // margin-bottom: 10px;
    }

    .W_TagBar {
      .M_Tag {
        margin-top: 6px;
        margin-right: 6px;
      }
    }
  }

  .O_Characters {
    .A_StyleArticleSubText {
      margin-bottom: 28px;
    }

    .A_CharecterName {
      margin-top: 10px;
    }
  }

  .O_RecomendationsBlock {
    width: 708px;
    column-gap: 12px;
    padding-top: 100px;
    padding-bottom: 100px;

    .W_StylesRail {
      grid-column: 7 /19;
    }
  }

  .O_ToggleSwitch {
    padding: 30px 0;
  }

  .O_RunningLine {
    margin-bottom: 80px;
  }

  .O_Influencers {
    width: 708px;
    column-gap: 12px;
    padding-bottom: 50px;

    .W_InfluencersNames {
      gap: 30px;
    }
  }

  .O_ScrollAntitrends {
    margin-bottom: 80px;

    .M_ButtonSurvey {
      bottom: 0px;
    }
  }

  .O_Gallery {
    column-gap: 12px;

    .W_AntitrendOption {
      max-height: 190px;
      min-height: 160px;
    }
  }

  .O_AntitrendsPreview {
    width: 708px;
    column-gap: 12px;

    .W_ArticleTitle {
      grid-column: 10 / 19;
    }
  }

  .O_ErrorContent {
    grid-column: 7 / 19;

    .A_ErrorWoops {
      margin-top: 20px;
      margin-bottom: -20px;
    }
  }
}

@media only screen and (min-width: 360px) and (max-width: 743px) {
  .O_NavBar {
    width: 332px;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;

    .W_NavBar {
      grid-column: 1 / 5;
      align-items: flex-start;
      margin-top: 40px;

      .W_NavBarCategories {
        display: none;
      }
    }
  }

  .O_Footer {
    width: 332px;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;

    .W_SocialMediaIcons {
      grid-column: 1 / 5;
    }

    .W_NamesFooter,
    .W_CopyrightFooter {
      .A_BoldTextFooter {
        margin-top: 6px;
      }
    }

    .W_NamesFooter {
      grid-column: 3 / 5;
    }

    .W_CopyrightFooter {
      grid-column: 1 / 3;
    }
  }

  .O_StyleArticleDescription {
    grid-column: 1 / 4;
    padding: 40px 30px 20px 20px;
    // margin-top: -30px;

    .W_TagBar {
      margin-top: 6px;

      .M_Tag {
        margin-top: 6px;
      }
    }
  }

  .O_SliderGallery {
    width: 100%;
    margin-bottom: 0px;

    .A_Slide {
      &.double {
        gap: 20px;
      }
    }
  }

  .O_StyleCard {
    width: 242px;
    min-width: 242px;
    .A_StyleName {
      margin-top: 10px;
      // margin-bottom: 10px;
    }

    .W_TagBar {
      .M_Tag {
        margin-top: 6px;
        margin-right: 6px;
      }
    }
  }

  .O_Characters {
    grid-column: 1 / 5;
    width: 100%;

    .A_StyleArticleSubText {
      margin-bottom: 20px;
    }

    .A_CharecterName {
      margin-top: 10px;
    }
  }

  .O_StyleCategoryMenu {
    display: flex;
    flex-direction: column;

    .A_StyleCategoryName {
      .Q_Arrow {
        opacity: 0;
      }
    }
  }

  .O_StyleCategoryMenu:hover .M_StyleCategoryMenuBottom {
    display: none;
  }

  .O_RecomendationsBlock {
    display: flex;
    flex-direction: column;
    width: 332px;
    padding-top: 50px;
    padding-bottom: 50px;

    .W_StylesRail {
      overflow-x: scroll;
      scrollbar-width: 0;
    }

    .W_StylesRail::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
  }

  .O_ToggleSwitch {
    padding: 30px 0;
  }

  .O_Influencers {
    width: 332px;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    padding-bottom: 100px;

    .W_InfluencersNames {
      grid-column: 1 / 5;
      display: flex;
      gap: 0px;
      flex-direction: column;
      width: 100%;
      padding-top: 50px;
      padding-bottom: 50px;
    }
  }

  .O_RunningLine {
    margin-bottom: 0px;
  }

  .O_ScrollAntitrends {
    margin-top: 100px;
    margin-bottom: 0px;
  }

  .O_Gallery {
    grid-column: 1 / 5;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    margin-bottom: 0;

    .W_AntitrendOption {
      max-height: 190px;
      min-height: 160px;
    }

    .W_AntitrendOption {
      max-height: 300px;
      min-height: 150px;

      &#cardigan {
        grid-column: 1/ 3;
      }

      &#naked {
        grid-column: 3/ 5;
        margin-top: 100%;
      }

      &#snud {
        grid-column: 2 / 4;
        margin-top: 20%;
      }

      &#sweater {
        grid-column: 1/ 3;
        margin-top: 100%;
      }

      &#oversize {
        grid-column: 1/ 5;
        margin-top: 10%;
      }

      &#collar {
        grid-column: 2/ 4;
        margin-top: 20%;
      }

      &#skinny {
        grid-column: 1/ 3;
        margin-top: -100%;
      }

      &#neon {
        grid-column: 1 / 3;
        margin-top: 15%;
      }

      &#clutch {
        grid-column: 3 / 5;
        margin-top: 100%;
      }

      &#decor {
        grid-column: 3/ 5;
        margin-top: 20%;
      }

      &#jacket {
        grid-column: 2/ 4;
        margin-top: 20%;
      }

      &#waist {
        grid-column: 2/ 4;
        margin-top: 20%;
      }

      &#hils {
        grid-column: 1/ 4;
        margin-top: 20%;
      }

      &#pleating {
        grid-column: 3/ 5;
        margin-top: 20%;
      }

      &#ugly {
        grid-column: 3 / 5;
        margin-top: 15%;
      }
    }
  }

  .O_AntitrendsPreview {
    grid-column: 1 / 5;
    width: 332px;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;

    .W_ArticleTitle {
      grid-column: 1 / 5;

      .A_ArticleHeadingWide {
        font-size: 28px;
      }
    }

    .M_ButtonSurvey {
      grid-column: 1 / 5;
      margin-top: 10px;
    }
  }

  .O_ErrorContent {
    grid-column: 2 / 5;
    margin-top: 180px;

    .A_ErrorWoops {
      margin-top: 20px;
      margin-bottom: -20px;
    }
  }
}
