.Q_SearchIcon {
  width: 24px;
  height: 24px;
  background-position: top center;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;

  &.black {
    background-image: url('./images/Q_SearchIcon-black.svg');
  }

  &.white {
    background-image: url('./images/Q_SearchIcon-white.svg');
  }
}

.Q_NavBarBurger {
  display: none;
}

.Q_SocialMediaIcon {
  display: block;
  width: 30px;
  height: 30px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

.tg {
  height: 34px;
  background-image: url('./images/telegram.svg');

  &.white {
    background-image: url('./images/tgwhite.svg');
  }
}

.inst {
  background-image: url('./images/insta.svg');

  &.white {
    background-image: url('./images/instawhite.svg');
  }
}

.vk {
  background-image: url('./images/vk.svg');
  width: 48px;

  &.white {
    background-image: url('./images/vkwhite.svg');
  }
}

.dzen {
  background-image: url('./images/dzen.svg');

  &.white {
    background-image: url('./images/dzenwhite.svg');
  }
}

.Q_WideLetter {
  line-height: 100%;
  // font-size: 388px;
  font-family: 'Druk Text Wide Cyr';
  font-weight: 800;
  text-transform: uppercase;
}

.Q_Line {
  width: 100%;
  height: 1px;
  background: var(--black);
  position: relative;
}

.Q_Image {
  width: 100%;
  height: 100%;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center top;
  }

  &.long {
    height: 592px;
  }

  &.medium {
    height: 508px;
  }

  &.short {
    height: 430px;
  }
}

.Q_Arrow {
  width: 47px;
  height: 47px;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60%;
  cursor: pointer;

  &.black {
    background-color: var(--green);
    background-image: url('./images/basic/ArrowHorizontalBlack.svg');
  }

  &.green {
    background-color: var(--black);
    background-image: url('./images/basic/ArrowHorizontalWhite.svg');
  }

  &.left {
    transform: rotate(180deg);
  }

  &.bottomright {
    transform: rotate(45deg);
  }

  &.topleft {
    transform: rotate(-125deg);
  }

  &.top {
    transform: rotate(-90deg);
  }
}

.Q_HintIcon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: var(--black);
  background-image: url('./images/basic/i.svg');
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.Q_BackgroundBlur {
  display: none;
  position: absolute;
  width: 100vw;
  height: 1300px;
  background-color: var(--black);
  opacity: 80%;
  filter: blur(50);
  z-index: 2;

  &.active {
    display: block;
  }
}

.Q_BlackBackgroundMainPage {
  position: absolute;
  width: 100vw;
  height: 4800px;
  margin-top: -700px;
  z-index: -1;
  background-color: var(--black);
}

//adaptives

@media only screen and (min-width: 1280px) and (max-width: 1679px) {
  .Q_SearchIcon {
    width: 24px;
    height: 24px;
  }

  .Q_SocialMediaIcon {
    width: 30px;
    height: 30px;
  }

  .vk {
    width: 48px;
  }

  .tg {
    height: 34px;
  }

  // .Q_WideLetter {
  //   font-size: 300px;
  // }

  .Q_Image {
    &.long {
      height: 418px;
    }

    &.medium {
      height: 353px;
    }

    &.short {
      height: 310px;
    }
  }

  .Q_Arrow {
    width: 30px;
    height: 30px;
  }

  .Q_HintIcon {
    width: 20px;
    height: 20px;
  }

  .Q_BackgroundBlur {
    height: 1240px;
  }

  .Q_BlackBackgroundMainPage {
    height: 4000px;
    margin-top: -450px;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1279px) {
  .Q_SearchIcon {
    width: 24px;
    height: 24px;
  }

  .Q_SocialMediaIcon {
    width: 26px;
    height: 26px;
  }

  .vk {
    width: 35px;
  }

  .tg {
    height: 28px;
  }

  // .Q_WideLetter {
  //   font-size: 300px;
  // }

  .Q_Image {
    &.long {
      height: 310px;
    }

    &.medium {
      height: 276px;
    }

    &.short {
      height: 235px;
    }
  }

  .Q_Arrow {
    width: 26px;
    height: 26px;
  }

  .Q_HintIcon {
    width: 20px;
    height: 20px;
  }

  .Q_BackgroundBlur {
    height: 1000px;
  }

  .Q_BlackBackgroundMainPage {
    height: 3200px;
    margin-top: -400px;
  }
}

@media only screen and (min-width: 744px) and (max-width: 1023px) {
  .Q_SearchIcon {
    width: 24px;
    height: 24px;
  }

  .Q_SocialMediaIcon {
    width: 24px;
    height: 24px;
  }

  .vk {
    width: 33px;
  }

  .tg {
    height: 26px;
  }

  // .Q_WideLetter {
  //   font-size: 200px;
  // }

  .Q_Image {
    &.long {
      height: 230px;
    }

    &.medium {
      height: 190px;
    }

    &.short {
      height: 162px;
    }
  }

  .Q_Arrow {
    width: 24px;
    height: 24px;
  }

  .Q_HintIcon {
    width: 20px;
    height: 20px;
  }

  .Q_BackgroundBlur {
    height: 1000px;
  }

  .Q_BlackBackgroundMainPage {
    height: 2800px;
    margin-top: -400px;
  }
}

@media only screen and (min-width: 330px) and (max-width: 743px) {
  .Q_NavBarBurger {
    display: block;
    width: 34px;
    height: 34px;
    background-position: top center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;

    &.black {
      background-image: url('./images/basic/Q_NavBarBurgerIcon-black.svg');
    }

    &.white {
      background-image: url('./images/basic/Q_NavBarBurgerIcon-white.svg');
    }
  }

  .Q_Close {
    position: absolute;
    top: 40px;
    right: 0;
    width: 24px;
    height: 24px;
    background-position: top center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;

    &.black {
      background-image: url('./images/basic/Q_CloseIcon-black.svg');
    }
  }

  .Q_SearchIcon {
    width: 34px;
    height: 34px;
  }

  .Q_SocialMediaIcon {
    width: 30px;
    height: 30px;
  }

  .vk {
    width: 48px;
  }

  .tg {
    height: 30px;
  }

  // .Q_WideLetter {
  //   font-size: 86px;
  // }

  .Q_Image {
    &.long {
      width: 155px;
      height: 256px;
    }

    &.medium {
      width: 155px;
      height: 230px;
    }

    &.short {
      width: 155px;
      height: 200px;
    }
  }

  .Q_Arrow {
    width: 30px;
    height: 30px;
    background-size: 60%;
  }

  .Q_HintIcon {
    width: 20px;
    height: 20px;
  }

  .Q_BackgroundBlur {
    height: 3500px;
  }

  .Q_BlackBackgroundMainPage {
    height: 3000px;
    margin-top: -380px;
  }
}
