.S_NavBar {
  color: var(--black);
  padding-bottom: 20px;
  margin-bottom: 0px;

  &.white {
    color: var(--white);
  }
}

.S_Footer {
  height: 400px;
  padding: 50px 0;
  margin-bottom: 0px;
  background: var(--white);
  color: var(--black);

  &.white {
    background: var(--black);
    color: var(--white);
  }

  &.green {
    background: var(--green);
    color: var(--black);
  }
}

.S_Cover{
 position: relative;
 display: grid;
 width: 1630px;
 grid-template-columns: repeat(18, 1fr);
 column-gap: 20px;
 margin: 0 auto;


 .W_StyleArticleSub {
   grid-column: 2 / 18;
   display: flex;
   flex-direction: row;
   align-items: flex-start;
   justify-content: space-between;
   margin-top: 110px;
   margin-bottom: 24px;
 }

 .W_RecomendedInfluencers{
     grid-column: 14 / 18;
     display: flex;
     flex-direction: column;
     justify-content: flex-end;
     align-items: flex-end;
 }

 .W_Avatars {
   margin-top: 32px;
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
   align-items: flex-start;
 }

 .C_StyleCategoryMenu{
   grid-column: 1 / 19;
   width: 100%;
   display: inline-flex;
   gap: 30px;
 }
}

.S_ArticleBlock{
  position: relative;
  display: grid;
  width: 1630px;
  grid-template-columns: repeat(18, 1fr);
  column-gap: 20px;
  margin: 0 auto;
  margin-bottom: 200px;

  .W_StyleArticleSub {
    grid-column: 2 / 18;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 110px;
    margin-bottom: 24px;
  }

  .W_ArticleTitle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 60px;

    &.style {
      grid-column: 3 / 10;
    }
  }

  .W_IntroBlock {
    grid-column: 3 / 18;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 80px;

    .A_ArticleBody {
      width: 622px;
    }
  }

  .W_PhotoRow {
    grid-column: 2 / 18;
    width: 100%;
    display: inline-flex;
    gap: 20px;
  }

  .W_ArticleChapterBlock {
    width: 100%;

    &.RightWide {
      grid-column: 10 / 18;
    }

    &.LeftWide {
      grid-column: 2 / 10;
    }

    &.LeftNarrow {
      grid-column: 3 / 9;
    }

    &.RightNarrow {
      grid-column: 10 / 16;
    }
  }

}

.S_RecomendationsBlock {
  background-color: var(--green);

  .A_RecomendationText {
    grid-column: 2 / 7;
  }

  .A_ButtonBack {
    grid-column: 2 / 4;
    position: relative;
    bottom: 100%;
  }

  .C_Styles {
    grid-column: 7 / 19;
    width: 100%;
    display: inline-flex;
    align-items: flex-start;
    gap: 20px;
  }
}

.S_Character{
  position: relative;
  display: grid;
  width: 1630px;
  grid-template-columns: repeat(18, 1fr);
  column-gap: 20px;
  margin: 0 auto;
  margin-bottom: 200px;

  .W_GreenBlockRow {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 120px;
  }

  .W_GreenBlock{
    grid-column: 8 / 19;
    background: var(--green);
    padding: 60px 30px 60px 30px;

    .A_TitleCharacteristics{
      width: 170px;
      margin-right: 20px;
    }

    .W_TagBar {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      .M_Tag {
        margin-right: 6px;
      }
    }

  }

  .W_ArticleTitle{
    grid-column: 2 / 8;
  }
  .Q_Image{
    grid-column: 3 / 11;
    margin-top: -100px;
    height: 800px;
  }
  .underblock{
    grid-column: 12 / 18;
    margin-top: 120px;
  }
  .underphoto{
    grid-column: 3 / 10;
    margin-top: 120px;
  }
}

.S_StyleCategory{
  position: relative;
  display: grid;
  width: 1630px;
  grid-template-columns: repeat(18, 1fr);
  column-gap: 20px;
  margin: 0 auto;
  margin-top: 200px;
  margin-bottom: 200px;

  .A_MoreButton{
    grid-column: 17 / 19;
  }

  .C_Styles {
    grid-column: 2 / 18;
    width: 100%;
    display: inline-flex;
    align-items: flex-start;
    gap: 20px;
  }
}

.S_AllCharacters{
  position: relative;
  display: grid;
  width: 1630px;
  grid-template-columns: repeat(18, 1fr);
  column-gap: 20px;
  margin: 0 auto;
  margin-bottom: 200px;
  margin-top: 200px;

  .C_CharacterCards {
    width: 100%;
    display: inline-flex;
    align-items: flex-start;
    gap: 103px;
  }
}
