.W_NavBar {
  grid-column: 2 / 18;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 40px;

  .Q_SearchIcon {
    margin-left: 20px;
  }
}

.W_NavBarCategories {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  width: 620px;
  height: auto;
}

.W_SocialMediaIcons {
  grid-column: 16 / 19;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}

.W_NamesFooter,
.W_CopyrightFooter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  width: 100%;
  margin-top: 50px;

  .A_BoldTextFooter {
    margin-top: 10px;
  }
}

.W_NamesFooter {
  grid-column: 16 / 19;
}

.W_CopyrightFooter {
  grid-column: 1 / 3;
}

.W_StyleArticleSub {
  grid-column: 2 / 18;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 110px;
  margin-bottom: 24px;
}

.W_TitleText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.W_TagBar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 6px;

  .M_Tag {
    margin-right: 6px;
    margin-top: 6px;
  }
}

.W_Avatars {
  margin-top: 32px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
}

.W_RecomendedInfluencers {
  grid-column: 14 / 18;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.W_ArticleTitle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 60px;

  &.style {
    grid-column: 3 / 10;
  }
}

.W_IntroBlock {
  grid-column: 3 / 18;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 80px;

  .A_ArticleBody {
    width: 622px;
  }
}

.W_StyleOptionRow {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding-bottom: 12px;
  border-bottom: 1px solid var(--black);
}

.W_Photo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 40px;

  &.first {
    grid-column: 2 / 6;
  }

  &.second {
    grid-column: 6 / 10;
  }

  &.third {
    grid-column: 10 / 14;
  }

  &.fourth {
    grid-column: 14 / 18;
  }
}

.W_ArticleChapterBlock {
  width: 100%;

  &.RightWide {
    grid-column: 10 / 18;
  }

  &.LeftWide {
    grid-column: 2 / 10;
  }

  &.LeftNarrow {
    grid-column: 3 / 9;
  }

  &.RightNarrow {
    grid-column: 10 / 16;
  }
}

.W_SliderText {
  display: flex;
  flex-direction: row;
}

.W_DoubleSlide {
  width: 100%;
  display: inline-flex;
  align-items: flex-start;
  gap: 20px;
}
