body.classic {
  .cover {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 30vh;

    .ml7 {
      position: relative;
      font-weight: 900;
      font-size: 3.7em;

      .text-wrapper {
        position: relative;
        display: inline-block;
        padding-top: 0.2em;
        padding-right: 0.05em;
        padding-bottom: 0.1em;
        overflow: hidden;
      }
      .letter {
        font-size: 200px;
        font-family: 'Druk Text Wide Cyr';
        font-weight: 800;
        transform-origin: 0 100%;
        display: inline-block;
        line-height: 1em;
      }
    }
  }
  .gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    .rail {
      width: 600px;
      height: 300px;
      margin: 100px auto;
      position: relative;
      top: 0;
      left: 0;
      right: 0;

      .image {
        text-align: center;
        line-height: 300px;

        font-size: 50px;
        width: 500px;
        height: 300px;
        color: white;
        display: none;
      }

      .image.current {
        display: block;
      }
      .image:first-child {
        background: pink;
      }

      .image:nth-child(2) {
        background: blue;
      }

      .image:nth-child(3) {
        background: green;
      }

      .image:nth-child(4) {
        background: red;
      }
    }
    .button-arrow {
      width: 50px;
      height: 50px;
      margin-top: 50px;
      background: orange;
    }
    .number {
      font-size: 24px;
      margin-top: 20px auto;

      input {
        font-size: 24px;
        -webkit-appearance: none;
        border: none;
        appearance: none;
        width: 11%;
      }
    }
  }
}
