* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}
//Header
header {
  .row {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 50px;
    z-index: 20;
    width: 100vw;

    .logo {
      margin-left: 50px;
    }

    .library,
    .influencers,
    .antitrends,
    button {
      margin-left: 80px;
    }
    button {
      width: 24px;
      height: 24px;
      background-image: url('images/search.svg');
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      background-color: transparent;
      border: 0;
      padding: 0;
    }
    .right {
      display: flex;
      flex-direction: row;
      align-content: flex-start;
      align-items: flex-start;
      justify-content: flex-start;
      position: absolute;
      right: 0;
      margin-right: 50px;
    }
    a {
      font-size: 18px;
      font-weight: 500;
      text-transform: uppercase;
      line-height: 22px;
      text-decoration: none;
      color: black;
    }
  }
}
//footer
footer {
  .footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 60 75 0 75;

    p,
    .p {
      font-size: 14px;
      line-height: 16px;
      font-weight: 400;
      margin-bottom: 6px;
    }

    h5,
    .h5 {
      font-size: 14px;
      line-height: 16px;
      font-weight: 600;
      margin-bottom: 16px;
    }
    .rights,
    .catalog,
    .influencers {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      justify-content: flex-start;
    }
    .about {
      margin-left: 32vw;
    }
    .c1,
    .influencers,
    .antitrends {
      margin-left: 8vw;
    }
    .c2 {
      left: 3vw;
    }
  }
}
