* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  width: 100vw;
}

body.influencers {
  background: var(--black);
  color: var(--white);
}

body.antitrends {
  background: var(--black);
  color: var(--white);
}

body.styles {
  background: var(--white);
  color: var(--black);
}

body.landing {
  background: var(--white);
  color: var(--black);

  section {
    margin-bottom: 0px;
  }
}

// body.search {
//   .S_Content {
//     height: 100vh;
//   }
// }

section {
  margin-bottom: 140px;
}
