body.influencers {
  section {
    .name {
      display: none;
    }
    a {
      width: 100vw;
      height: 100px;
      display: flex;
      position: relative;
      font-size: 60px;
      line-height: 72px;
      font-weight: 400px;
      color: #848484;
      text-decoration: none;

      a:hover {
        height: 200px;
        font-size: 88px;
        line-height: 100px;
        font-weight: 400px;
        color: white;

        .name {
          display: block;
        }
      }
    }
  }
}
