body.landing {
  background: var(--white);
  color: var(--black);
  height: 100%;

  a {
    text-decoration: none;
    color: var(--black);
  }

  b {
    font-family: 'Inter';
    font-weight: 700;
  }

  p,
  li {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    line-height: 135%;
  }

  h3 {
    font-size: 14px;
    font-family: 'Druk Text Wide Cyr';
    font-weight: 800;
    text-transform: uppercase;
  }

  h2 {
    font-size: 54px;
    font-family: 'Druk Cyr';
    font-weight: 700;
    text-transform: uppercase;
  }

  .grid {
    display: grid;
    width: 1636px;
    grid-template-columns: repeat(24, 1fr);
    column-gap: 20px;
    margin: 0 auto;
    position: relative;
  }

  .image {
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .letter {
    display: inline-block;
  }

  .druk,
  .druzhok {
    text-align: center;
    line-height: 100%;
  }
  .druzhok {
    font-family: 'DRUZHOK';
    font-weight: 400;
  }

  .druk {
    font-family: 'Druk Condensed Cyr Super';
    font-weight: 800;
    text-transform: uppercase;

    .wide {
      font-family: 'Druk Text Wide Cyr';
    }
  }

  section {
    &.cover {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 800px;
      margin-bottom: 200px;

      .top {
        position: absolute;
        z-index: 8;

        .image:first-child {
          grid-column: 7 / 10;
          height: 184px;
          position: relative;
          top: 300px;
          background-image: url('./images/landing/landing1.jpg');
          background-position: top center;
        }
        .image:nth-child(2) {
          grid-column: 16 / 19;
          height: 250px;
          position: relative;
          top: 550px;
          background-image: url('./images/landing/landing2.jpg');
          background-position: top right;
        }
      }

      .name {
        margin-top: 100px;
        grid-column: 1 / 25;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: auto;
        position: relative;
        user-select: none;

        .text-wrapper {
          width: 100%;
          overflow: hidden;
          display: flex;
          flex-direction: column;
          align-items: flex-start;

          .letter {
            display: inline-block;
          }

          .druzhok {
            font-size: 316px;
            line-height: 90%;
          }

          .druk {
            font-size: 330px;
          }

          .druk {
            span:nth-child(2),
            span:nth-child(5) {
              font-family: 'Druk Text Wide Cyr';
            }
          }
        }
      }
    }

    &.mission {
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      height: 100vh;
      width: 100vw;
      overflow: hidden;
      margin-bottom: 150px;

      .image {
        height: 100vh;
        width: 100vw;
        position: absolute;
        z-index: 1;
        background-image: url('./images/landing/mission.jpg');
      }

      .sticker {
        position: relative;
        width: 830px;
        height: auto;
        padding-right: 80px;
        padding-top: 50px;
        padding-left: 100px;
        padding-bottom: 160px;
        background: var(--green);
        z-index: 5;

        h3 {
          margin-bottom: 170px;
        }
        p,
        span {
          font-family: 'DRUZHOK';
          font-weight: 400;
          font-size: 60px;
          line-height: 106%;
          text-transform: uppercase;
        }

        .bold {
          font-family: 'Druk Cyr';
          font-weight: 800;
          text-transform: uppercase;
        }
      }
    }

    &.looks {
      .heading {
        grid-column: 2 / 7;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 20px;

        h3 {
          margin-bottom: 20px;
        }
      }

      .table {
        grid-column: 1 / 25;
        display: grid;
        width: 100%;
        grid-template-columns: repeat(24, 1fr);
        column-gap: 20px;

        .card {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;
          position: relative;

          h2 {
            text-align: center;
            margin-bottom: 24px;

            span {
              font-family: 'DRUZHOK';
              font-weight: 400;
              font-size: 44px;
            }
          }

          &.first {
            grid-column: 2 / 7;
            margin-top: 80px;
          }

          &.second {
            grid-column: 8 / 13;
            z-index: 5;
            margin-top: 80px;
          }

          &.third {
            grid-column: 14 / 19;
            z-index: 5;

            .description {
              margin-top: 80px;
            }
          }

          &.fourth {
            grid-column: 20 / 25;
            margin-top: 80px;
          }

          .one {
            height: 488px;
            background-image: url('./images/landing/landing3.jpg');
          }

          .two {
            height: 416px;
            background-image: url('./images/landing/landing4.jpg');
          }

          .three {
            height: 432px;
            background-image: url('./images/landing/landing5.jpg');
          }

          .four {
            height: 488px;
            background-image: url('./images/landing/landing6.jpg');
          }

          .description {
            position: absolute;
            z-index: 3;
            top: 600px;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            .line {
              background: var(--black);
              width: 100%;
              height: 1px;
              margin-bottom: 30px;
            }

            p {
              font-size: 16px;
              width: 70%;
            }
          }
        }
      }
    }

    &.rectangle {
      width: 100%;
      height: 100vh;
      position: relative;
      z-index: 1;
      top: -25vh;
      margin-bottom: -40vh;
      background: var(--green);
    }

    &.style {
      margin-bottom: 400px;
      .name {
        grid-column: 1 / 16;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: relative;
        z-index: 3;

        h3 {
          margin-bottom: 30px;
          margin-right: 66px;
        }

        .druzhok {
          margin-bottom: -40px;
          font-size: 258px;
          padding-left: 30px;
          user-select: none;
        }
        .druk {
          margin-top: -40px;
          font-size: 258px;
          user-select: none;
        }

        .wrapper {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: flex-start;
          margin-right: 66px;
          margin-top: 24px;

          p {
            width: 16em;
            margin-right: 20px;
          }
        }
      }

      .card {
        grid-column: 14 / 25;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        top: -20vh;
        z-index: 2;

        .image {
          height: 700px;
          background-image: url('./images/landing/landing7.jpg');
          background-position: top center;
          margin-bottom: 20px;
        }

        .W_TagBar {
          width: 60%;
        }

        h3 {
          font-family: 'Druk Text Cyr';
          font-size: 40px;
        }
      }
    }

    &.antitrends {
      display: flex;
      flex-direction: column;
      align-items: center;

      .image:first-child {
        background-image: url('./images/landing/landing8.jpg');
        height: 328px;
        margin-top: 150px;
        grid-column: 1 / 4;
      }
      .image:nth-child(2) {
        background-image: url('./images/landing/landing9.jpg');
        height: 492px;
        grid-column: 5 / 10;
        position: absolute;
        z-index: -1;
      }

      .name {
        grid-column: 10 / 25;
        display: grid;
        width: 100%;
        grid-template-columns: repeat(15, 1fr);
        column-gap: 20px;

        h3 {
          position: absolute;
          top: 0;
          right: 0;
          // padding-right: 66px;
        }

        .text-wrapper {
          grid-column: 2 / 16;
          display: flex;
          flex-direction: column;
          align-items: flex-start;

          .druzhok {
            margin-bottom: -40px;
            font-size: 228px;
            padding-left: 30px;
            user-select: none;
          }
          .druk {
            margin-top: -40px;
            font-size: 228px;
            user-select: none;
          }
        }
      }

      .sticker {
        grid-column: 11 / 18;
        background: var(--green);
        position: relative;
        top: -180px;
        z-index: -1;
        padding: 140px 66px 70px 66px;
      }

      .M_ButtonSurvey {
        grid-column: 22 / 25;
      }
    }

    &.popcult {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: var(--white);
      height: 900px;
      overflow: hidden;
      padding-top: 300px;
      margin-bottom: 150px;

      .grid {
        align-items: center;
        .image {
          background-image: url('./images/landing/landing11.jpg');
          background-position: top;
        }
        .one {
          grid-column: 4 / 9;
          height: 365px;
          background-size: 300%;

          margin-top: 200px;
        }
        .two {
          grid-column: 13 / 25;
          width: calc(100% + 300px);
          padding-right: 300px;
          height: 100vh;
          position: absolute;
          top: -25vh;
        }

        span {
          grid-column: 10 / 16;
          text-align: center;
          font-size: 64px;
          font-family: 'DRUZHOK';
          font-weight: 400;
          position: relative;
          z-index: 5;

          .bold {
            font-family: 'Druk Cyr';
            font-weight: 800;
            text-transform: uppercase;
          }
        }
      }

      .blackrectangle {
        position: absolute;
        background: var(--black);
        height: 200vh;
        width: 100vw;

        z-index: -5;
      }
    }

    &.influencers {
      display: flex;
      flex-direction: column;
      align-items: center;
      background: var(--black);
      color: var(--white);

      .top {
        position: absolute;
        z-index: 8;
        padding-top: 130px;

        .image:first-child {
          grid-column: 1 / 4;
          height: 188px;
          margin-top: 300px;
          background-image: url('./images/landing/landing12.jpg');
        }

        .image:nth-child(2) {
          grid-column: 12 / 16;
          height: 354px;
          background-image: url('./images/landing/landing13.jpg');
        }

        .image:nth-child(3) {
          grid-column: 17 / 21;
          height: 160px;
          margin-top: 110px;
          background-image: url('./images/landing/landing14.jpg');
        }
      }

      h3 {
        grid-column: 1 / 3;
        margin-bottom: 30px;
      }

      .name {
        grid-column: 1 / 25;
        display: flex;
        flex-direction: column;

        .text-wrapper {
          user-select: none;
          .druzhok {
            font-size: 228px;
            margin-bottom: -40px;
          }

          .druzhok:first-child {
            padding-left: 132px;
          }

          .druk {
            font-size: 228px;
            padding-left: 328px;
            margin-top: -40px;
          }
        }
        .wrapper {
          padding-left: 345px;
          margin-top: 60px;
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          justify-content: space-between;

          .button {
            background: var(--green);
            color: var(--black);

            .icon {
              background-image: url('./images/blackarrow.svg');
            }
          }

          p {
            width: 24em;
          }
        }
      }
    }

    &.movies {
      display: flex;
      flex-direction: column;
      align-items: center;
      background: var(--black);
      color: var(--white);
      h3 {
        margin-top: 30vh;
        margin-bottom: 50px;
        grid-column: 19 / 24;
        text-align: right;
      }
      .name {
        grid-column: 4 / 24;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;
        position: relative;
        z-index: 5;
        user-select: none;

        .druzhok {
          font-size: 228px;
          margin-bottom: -40px;
        }
        .padding {
          padding-left: 320px;
        }

        .druk {
          font-size: 228px;
          margin-top: -40px;
        }
      }

      .wrapper {
        grid-column: 17 / 24;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        p {
          width: 80%;
        }
      }

      .bottom {
        padding-top: 200px;
        position: absolute;
        z-index: 1;

        .image:first-child {
          grid-column: 4 / 9;
          height: 442px;
          background-image: url('./images/landing/landing15.jpg');
          margin-top: 150px;
        }

        .image:nth-child(2) {
          grid-column: 10 / 16;
          height: 727px;
          background-image: url('./images/landing/landing16.jpg');
          top: 0vh;
        }
      }

      .M_ButtonSurvey {
        margin-top: 30px;
      }
    }
  }

  .W_TagBar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 6px;

    .M_Tag {
      margin-top: 6px;
      margin-right: 6px;
    }
  }

  .inspo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 150px 0px;

    background: var(--black);
    color: var(--white);

    .heading {
      grid-column: 3 / 7;
      margin-top: 200px;

      h3 {
        margin-bottom: 24px;
      }
    }

    .Q_Image {
      grid-column: 11 / 17;
      height: 600px;
      position: absolute;
    }

    .W_TagBar {
      position: relative;
      grid-column: 14 / 25;
      margin-top: 240px;
      z-index: 2;

      .M_Tag {
        margin-top: 8px;
        margin-right: 8px;
      }
    }
  }

  .social {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 150px 0px;
    background: var(--black);
    color: var(--white);

    .Q_Image {
      grid-column: 6 / 12;
      display: flex;
      justify-content: center;

      img {
        width: 300px;
      }
    }

    .wrapper {
      grid-column: 13 / 24;
      display: flex;
      flex-direction: column;
    }

    h2 {
      margin-bottom: 30px;
      font-size: 72px;
      font-weight: 800;

      span {
        font-family: 'DRUZHOK';
        text-transform: none;
        font-weight: 400;
      }
    }

    .M_ButtonSurvey {
    }
  }
}

@media only screen and (min-width: 1280px) and (max-width: 1679px) {
  body.landing {
    p,
    li {
      font-size: 16px;
    }

    h3 {
      font-size: 12px;
    }

    h2 {
      font-size: 42px;
    }

    .grid {
      width: 1248px;
      column-gap: 12px;
    }

    section {
      &.cover {
        margin-bottom: 200px;

        .top {
          .image:first-child {
            top: 250px;
          }
          .image:nth-child(2) {
            top: 450px;
          }
        }

        .name {
          margin-top: 120px;

          .text-wrapper {
            .druzhok {
              font-size: 244px;
            }

            .druk {
              font-size: 250px;
            }
          }
        }
      }

      &.mission {
        margin-bottom: 100px;
        .sticker {
          width: 700px;

          h3 {
            margin-bottom: 100px;
          }
          p,
          span {
            font-size: 46px;
          }
        }
      }

      &.rectangle {
        top: -30vh;
      }

      &.style {
        margin-bottom: 400px;

        .name {
          .druzhok {
            margin-bottom: -30px;
            font-size: 180px;
          }
          .druk {
            margin-top: -30px;
            font-size: 180px;
          }
        }
        .card {
          .image {
            height: 690px;
          }
        }
      }

      &.antitrends {
        .top {
          .image:first-child {
            height: 120px;
            bottom: 100px;
          }
        }

        .image:first-child {
          height: 270px;
          margin-top: 140px;
        }
        .image:nth-child(2) {
          height: 364px;
        }

        .name {
          h3 {
            padding-right: 30px;
          }

          .text-wrapper {
            .druzhok {
              margin-bottom: -30px;
              font-size: 183px;
              padding-left: 30px;
            }
            .druk {
              margin-top: -30px;
              font-size: 183px;
            }
          }
        }

        .sticker {
          grid-column: 12 / 18;
          top: -150px;
          padding: 60px 40px 60px 40px;
        }
      }

      &.popcult {
        padding-top: 300px;
        margin-bottom: 150px;

        .grid {
          .one {
            height: 280px;
            margin-top: 120px;
          }

          span {
            margin-top: 120px;
          }
        }
      }

      &.influencers {
        .top {
          padding-top: 130px;

          .image:first-child {
            height: 148px;
            margin-top: 210px;
          }

          .image:nth-child(2) {
            height: 260px;
          }

          .image:nth-child(3) {
            height: 126px;
            margin-top: 70px;
          }
        }

        h3 {
          margin-bottom: 30px;
        }

        .name {
          .text-wrapper {
            .druzhok {
              font-size: 180px;
              margin-bottom: -30px;
            }

            .druzhok:first-child {
              padding-left: 100px;
            }

            .druk {
              font-size: 180px;
              padding-left: 250px;
              margin-top: -30px;
            }
          }
          .wrapper {
            margin-top: 40px;

            p {
              width: 24em;
            }
          }
        }
      }

      &.movies {
        h3 {
          margin-top: 30vh;
          margin-bottom: 50px;
        }
        .name {
          grid-column: 4 / 24;

          .druzhok {
            font-size: 180px;
            margin-bottom: -30px;
          }
          .padding {
            padding-left: 260px;
          }

          .druk {
            font-size: 180px;
            margin-top: -30px;
          }
        }

        .wrapper {
          grid-column: 18 / 24;

          .button {
            margin-top: 30px;
          }
        }

        .bottom {
          padding-top: 200px;

          .image:first-child {
            height: 342px;
            margin-top: 100px;
          }

          .image:nth-child(2) {
            grid-column: 10 / 16;
            height: 500px;
            top: 0vh;
          }
        }
      }

      &.launch {
        height: 100vh;
        padding-top: 200px;
        .forma {
          grid-column: 3 / 23;
          width: 100%;
          display: flex;
          flex-direction: column;
          padding: 100px 120px 100px 120px;

          .druk {
            font-size: 70px;

            .wide {
              font-size: 70px;
            }
          }

          .line {
            margin-top: 30px;
            margin-bottom: 20px;
          }

          .wrapper {
            margin-bottom: 20px;
            width: 100%;
          }
        }

        form {
          display: flex;
          flex-direction: row;

          width: 100%;
        }

        input {
          width: 534px;
          height: 92px;
          padding: 0 25px;
        }

        button {
          width: 278px;
          height: 92px;
        }
      }

      &.footer {
        .grid {
          width: 1232px;
          column-gap: 20px;
        }
      }
    }
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1279px) {
  body.landing {
    p,
    li {
      font-size: 12px;
    }

    h3 {
      font-size: 10px;
    }

    h2 {
      font-size: 34px;
    }

    .grid {
      width: 960px;
      column-gap: 12px;
    }

    section {
      &.cover {
        margin-bottom: 0px;

        .top {
          .image:first-child {
            height: 136px;
            top: 220px;
          }
          .image:nth-child(2) {
            height: 146px;
            top: 350px;
          }
        }

        .name {
          margin-top: 100px;

          .text-wrapper {
            .druzhok {
              font-size: 188px;
            }

            .druk {
              font-size: 194px;
            }
          }
        }
      }

      &.mission {
        margin-bottom: 100px;
        .sticker {
          width: 556px;

          p,
          span {
            font-size: 36px;
          }
        }
      }

      &.looks {
        .heading {
          grid-column: 2 / 7;
          margin-bottom: 20px;

          h3 {
            margin-bottom: 20px;
          }
        }

        .table {
          column-gap: 12px;

          .card {
            h2 {
              margin-bottom: 24px;

              span {
                font-size: 28px;
              }
            }

            &.first {
              margin-top: 80px;
            }

            &.second {
              margin-top: 80px;
            }

            &.third {
              .description {
                margin-top: 80px;
              }
            }

            &.fourth {
              margin-top: 80px;
            }

            .one {
              height: 300px;
            }

            .two {
              height: 250px;
            }

            .three {
              height: 260px;
            }

            .four {
              height: 300px;
            }

            .description {
              top: 450px;

              .line {
                margin-bottom: 30px;
              }

              p {
                font-size: 10px;
                width: 80%;
              }
            }
          }
        }
      }

      &.style {
        margin-bottom: 300px;

        .name {
          .druzhok {
            margin-bottom: -20px;
            font-size: 136px;
          }
          .druk {
            margin-top: -20px;
            font-size: 136px;
          }
        }
        .card {
          h3 {
            font-size: 34px;
          }

          .image {
            height: 500px;
          }
          .tag-wrapper {
            .tag {
              margin-top: 6px;
              padding: 6px 14px;

              height: 20px;

              p {
                font-size: 10px;
              }
            }
          }
        }
      }

      &.antitrends {
        .top {
          .image:first-child {
            height: 90px;
            bottom: 0px;
          }
        }

        .image:first-child {
          height: 200px;
          margin-top: 50px;
        }
        .image:nth-child(2) {
          height: 276px;
        }

        .name {
          h3 {
            padding-right: 0px;
          }

          .text-wrapper {
            .druzhok {
              margin-bottom: -20px;
              font-size: 140px;
              padding-left: 30px;
            }
            .druk {
              margin-top: -20px;
              font-size: 140px;
            }
          }
        }

        .sticker {
          grid-column: 12 / 18;
          top: -40px;
          padding: 60px 40px 60px 40px;
        }

        .M_ButtonSurvey {
          margin-top: 14px;
        }
      }

      &.popcult {
        height: 130vh;
        padding-bottom: 200px;
        margin-bottom: 0px;

        .grid {
          .one {
            height: 215px;
            margin-top: 200px;
          }
          .two {
            height: 100vh;
            top: -25vh;
          }

          span {
            font-size: 40px;
            margin-top: 200px;
          }
        }

        .blackrectangle {
          height: 100vh;
          width: 100%;
        }
      }

      &.influencers {
        .top {
          padding-top: 130px;

          .image:first-child {
            height: 112px;
            margin-top: 140px;
          }

          .image:nth-child(2) {
            height: 200px;
            margin-top: -20px;
          }

          .image:nth-child(3) {
            height: 100px;
            margin-top: 30px;
          }
        }

        h3 {
          margin-bottom: 30px;
        }

        .name {
          .text-wrapper {
            .druzhok {
              font-size: 137px;
              margin-bottom: -20px;
            }

            .druzhok:first-child {
              padding-left: 100px;
            }

            .druk {
              font-size: 137px;
              padding-left: 200px;
              margin-top: -20px;
            }
          }
          .wrapper {
            margin-top: 30px;

            p {
              width: 24em;
            }
          }
        }
      }

      &.movies {
        h3 {
          margin-top: 150px;
          margin-bottom: 50px;
        }
        .name {
          grid-column: 4 / 24;

          .druzhok {
            font-size: 137px;
            margin-bottom: -20px;
          }
          .padding {
            padding-left: 260px;
          }

          .druk {
            font-size: 137px;
            margin-top: -20px;
          }
        }

        .wrapper {
          grid-column: 18 / 24;

          .button {
            margin-top: 30px;
          }
        }

        .bottom {
          padding-top: 100px;

          .image:first-child {
            height: 265px;
            margin-top: 80px;
          }

          .image:nth-child(2) {
            grid-column: 9 / 15;
            height: 380px;
            top: 0vh;
          }
        }
      }
    }

    .inspo {
      .Q_Image {
        grid-column: 9 / 18;
      }

      .heading {
        grid-column: 3 / 8;
      }
    }

    .social {
      .Q_Image {
        grid-column: 6 / 12;

        img {
          width: 250px;
        }
      }

      .wrapper {
        grid-column: 13 / 24;

        h2 {
          font-size: 50px;
        }
      }
    }
  }
}

@media only screen and (min-width: 744px) and (max-width: 1023px) {
  body.landing {
    p,
    li {
      font-size: 12px;
    }

    h3 {
      font-size: 12px;
    }

    h2 {
      font-size: 34px;
    }

    .grid {
      width: 708px;
      column-gap: 12px;
    }

    section {
      &.cover {
        height: calc(50vh - 80px);
        margin-top: 0px;
        margin-bottom: 0px;

        .top {
          .image:first-child {
            grid-column: 16 / 20;
            height: 110px;
            top: 5vh;
          }
          .image:nth-child(2) {
            grid-column: 6 / 10;
            height: 154px;
            top: 17vh;
          }
        }

        .name {
          margin-top: 10vh;

          .text-wrapper {
            .druzhok {
              font-size: 139px;
            }

            .druk {
              font-size: 144px;
            }
          }
        }
      }

      &.mission {
        margin-bottom: 100px;
        height: 50vh;

        .image {
          height: 50vh;
        }
        .sticker {
          width: 455px;
          padding: 40px;

          h3 {
            margin-bottom: 100px;
          }
          p,
          span {
            font-size: 36px;
          }
        }
      }

      &.looks {
        .heading {
          grid-column: 2 / 8;
          margin-bottom: 40px;

          h3 {
            margin-bottom: 8px;
          }
        }

        .table {
          column-gap: 12px;

          .card {
            h2 {
              font-size: 24px;
              margin-bottom: 14px;

              span {
                font-size: 24px;
              }
            }

            &.first {
              margin-top: 40px;
            }

            &.second {
              margin-top: 40px;
            }

            &.third {
              margin-top: 100px;
              .description {
                margin-top: 0px;
              }
            }

            &.fourth {
              margin-top: 40px;
            }

            .one {
              height: 225px;
            }

            .two {
              height: 240px;
            }

            .three {
              height: 200px;
            }

            .four {
              height: 225px;
            }

            .description {
              top: 350px;

              .line {
                margin-bottom: 20px;
              }

              p {
                font-size: 12px;
                width: 90%;
              }
            }
          }
        }
      }

      &.rectangle {
        width: 100%;
        height: 65vh;
        position: relative;
        z-index: 1;
        top: -170px;
        margin-bottom: -250px;
        background: var(--green);
      }

      &.style {
        margin-bottom: 300px;

        .name {
          h3 {
            margin-bottom: 8px;
          }
          .druzhok {
            margin-bottom: -20px;
            font-size: 105px;
          }
          .druk {
            margin-top: -20px;
            font-size: 105px;
          }
        }
        .card {
          h3 {
            font-size: 24px;
          }
          .image {
            height: 440px;
          }
        }
      }

      &.antitrends {
        .image:first-child {
          grid-column: 1 / 5;
          height: 160px;
          margin-top: 50px;
        }
        .image:nth-child(2) {
          grid-column: 5 / 11;
          height: 212px;
        }

        .name {
          h3 {
            width: 112px;
          }

          .text-wrapper {
            .druzhok {
              margin-bottom: -20px;
              font-size: 108px;
              padding-left: 30px;
            }
            .druk {
              margin-top: -20px;
              font-size: 108px;
            }
          }
        }

        .sticker {
          grid-column: 12 / 19;
          top: -60px;
          padding: 50px 30px 70px 30px;
        }
      }

      &.popcult {
        height: 64vh;
        padding-top: 200px;
        margin-bottom: 0px;

        .grid {
          .one {
            grid-column: 3 / 9;
            height: 215px;
            margin-top: 100px;
          }
          .two {
            height: 55vh;
            top: -15vh;
          }

          span {
            font-size: 40px;
            margin-top: 100px;
          }
        }

        .blackrectangle {
          height: 120vh;
          width: 100%;
        }
      }

      &.influencers {
        .top {
          padding-top: 100px;

          .image:first-child {
            height: 86px;
            margin-top: 120px;
          }

          .image:nth-child(2) {
            height: 164px;
            margin-top: -20px;
          }

          .image:nth-child(3) {
            height: 74px;
            margin-top: 30px;
          }
        }

        h3 {
          margin-bottom: 8px;
        }

        .name {
          .text-wrapper {
            .druzhok {
              font-size: 105px;
              margin-bottom: -15px;
            }

            .druzhok:first-child {
              padding-left: 100px;
            }

            .druk {
              font-size: 105px;
              padding-left: 140px;
              margin-top: -15px;
            }
          }
          .wrapper {
            margin-top: 30px;

            p {
              width: 18em;
            }
          }
        }
      }

      &.movies {
        h3 {
          grid-column: 17 / 24;
          margin-top: 250px;
          margin-bottom: 30px;
        }
        .name {
          grid-column: 4 / 24;

          .druzhok {
            font-size: 105px;
            margin-bottom: -20px;
          }
          .padding {
            padding-left: 220px;
          }

          .druk {
            font-size: 105px;
            margin-top: -20px;
          }
        }

        .wrapper {
          grid-column: 17 / 24;

          .button {
            margin-top: 20px;
          }
        }

        .bottom {
          padding-top: 200px;

          .image:first-child {
            height: 205px;
            margin-top: 80px;
          }

          .image:nth-child(2) {
            grid-column: 9 / 15;
            height: 290px;
            top: 0vh;
          }
        }
      }
    }

    .inspo {
      padding: 100px 0px;
      .heading {
        grid-column: 2 / 9;
        margin-top: 150px;

        h3 {
          margin-bottom: 14px;
        }

        h2 {
          font-size: 44px;
        }
      }

      .Q_Image {
        grid-column: 9 / 18;
        height: 440px;
      }

      .W_TagBar {
        margin-top: 150px;

        .M_Tag {
          margin-top: 6px;
          margin-right: 6px;
        }
      }
    }

    .social {
      .Q_Image {
        grid-column: 5 / 13;

        img {
          width: 250px;
        }
      }

      .wrapper {
        grid-column: 14 / 24;

        h2 {
          font-size: 50px;
        }
      }
    }
  }
}

@media only screen and (min-width: 360px) and (max-width: 743px) {
  body.landing {
    p,
    li {
      font-size: 12px;
    }

    h3 {
      font-size: 10px;
    }

    h2 {
      font-size: 34px;
    }

    .grid {
      width: 332px;
      grid-template-columns: repeat(4, 1fr);
      column-gap: 20px;
    }

    section {
      &.cover {
        height: 90vh;
        margin-bottom: 0px;

        .top {
          .image:first-child {
            grid-column: 1 / 4;
            height: 150px;
            width: 80%;
            top: 0vh;
          }
          .image:nth-child(2) {
            grid-column: 2 / 5;
            height: 285px;
            top: 20vh;
          }
        }

        .name {
          grid-column: 1 / 5;
          margin-top: 22vh;

          .text-wrapper {
            .druzhok {
              font-size: 65px;
            }

            .druk {
              font-size: 65px;
            }
          }
        }
      }

      &.mission {
        margin-bottom: 100px;
        height: 500px;

        .image {
          position: absolute;
          left: 0;
          height: 315px;
          width: 300px;
        }
        .sticker {
          top: -270px;
          width: 300px;
          padding-left: 16px;
          padding-right: 16px;
          padding-bottom: 50px;

          p,
          span {
            font-size: 24px;
          }
        }
      }

      &.looks {
        .heading {
          grid-column: 1 / 3;
          margin-bottom: 20px;

          h3 {
            margin-bottom: 14px;
          }
        }

        .table {
          margin-top: 30px;
          grid-column: 1 / 5;
          grid-template-columns: repeat(4, 1fr);
          column-gap: 20px;

          .card {
            h2 {
              font-size: 24px;
              margin-bottom: 16px;

              span {
                font-size: 24px;
              }
            }

            &.first {
              grid-column: 1 / 3;
              margin-top: 0px;
            }

            &.second {
              grid-column: 3 / 5;
              margin-top: 0px;
            }

            &.third {
              grid-column: 1 / 3;
              margin-top: 0px;
              .description {
                margin-top: 0px;
              }
            }

            &.fourth {
              grid-column: 3 / 5;
              margin-top: 80px;
              z-index: 5;
            }

            .one {
              height: 200px;
            }

            .two {
              height: 270px;
            }

            .three {
              height: 225px;
            }

            .four {
              height: 225px;
            }

            .description {
              position: relative;
              top: 0;

              .line {
                margin: 10px 0;
              }

              p {
                font-size: 12px;
                width: 100%;
              }
            }
          }
        }
      }

      &.rectangle {
        width: 100%;
        height: 50vh;
        position: relative;
        z-index: 1;
        top: -220px;
        margin-bottom: -320px;
        background: var(--green);
      }

      &.style {
        overflow: hidden;
        height: 500px;
        padding-top: 50px;
        margin-bottom: 150px;

        .name {
          grid-column: 1 / 4;

          h3 {
            margin-bottom: 15px;
          }
          .druzhok {
            padding-left: 10px;
            margin-bottom: -10px;
            font-size: 56px;
          }
          .druk {
            margin-top: -10px;
            font-size: 56px;
          }

          .wrapper {
            margin-top: 16px;
            flex-direction: column;
            align-items: flex-start;

            p {
              width: 14em;
            }

            .M_ButtonSurvey {
              margin-top: 15px;
            }
          }
        }
        .card {
          top: -5vh;
          grid-column: 3 / 5;

          h3 {
            font-size: 24px;
          }

          .image {
            height: 265px;
            width: 130%;
            margin-bottom: 10px;
          }

          .W_TagBar {
            width: 100%;
          }
        }
      }

      &.antitrends {
        .none {
          display: none;
        }
        .image:nth-child(2) {
          grid-column: 3 / 5;
          width: 80%;
          margin-top: 210px;
          height: 160px;
          z-index: 5;
        }

        .name {
          grid-column: 2 / 5;
          grid-template-columns: repeat(3, 1fr);
          column-gap: 20px;
          h3 {
            padding: 0;
            right: auto;
            top: -20px;
            width: 180px;
          }

          .text-wrapper {
            grid-column: 1 / 4;
            .druzhok {
              margin-bottom: -10px;
              font-size: 64px;
              padding-left: 0px;
            }
            .druk {
              margin-top: -10px;
              font-size: 64px;
            }
          }
        }

        .M_ButtonSurvey {
          grid-column: 3 / 5;
          margin-top: -160px;
          margin-left: 30px;
        }

        .sticker {
          grid-column: 1 / 4;
          width: 100%;
          top: -20px;
          left: -50px;
          padding: 70px 12px 40px 40px;
        }
      }

      &.popcult {
        height: 120vh;
        padding-bottom: 200px;

        .grid {
          .one {
            grid-column: 1 / 3;
            width: 65%;
            height: 160px;
            margin-top: 200px;
            filter: brightness(0.85);
          }
          .two {
            grid-column: 3 / 5;
            height: 90vh;
            top: -15vh;
            background-position: -200px;
            filter: brightness(0.85);
          }

          span {
            grid-column: 2 / 4;
            font-size: 32px;
            margin-top: -150px;
          }
        }

        .blackrectangle {
          height: 120vh;
          width: 100%;
        }
      }

      &.influencers {
        .top {
          padding-top: 100px;

          .none {
            display: none;
          }

          .image:nth-child(2) {
            grid-column: 4 / 5;
            height: 112px;
            width: 120%;
            margin-top: -200px;
          }

          .image:nth-child(3) {
            grid-column: 1 / 3;
            width: 60%;
            height: 68px;
            margin-top: -40px;
            margin-left: 20px;
          }
        }

        h3 {
          margin-bottom: 14px;
        }

        .name {
          grid-column: 1 /5;
          .text-wrapper {
            .druzhok {
              font-size: 58px;
              margin-bottom: -10px;
            }

            .druzhok:first-child {
              padding-left: 0px;
            }

            .druzhok:nth-child(2) {
              padding-left: 120px;
            }

            .druk {
              font-size: 58px;
              padding-left: 0px;
              margin-top: -10px;
            }
          }
          .wrapper {
            align-items: flex-start;
            margin-top: 30px;
            padding: 0;

            p {
              width: 18em;
            }
          }
        }
      }

      &.movies {
        h3 {
          grid-column: 3 / 5;
          margin-top: 250px;
          margin-bottom: 30px;
        }
        .name {
          grid-column: 1 / 5;

          .druzhok {
            font-size: 60px;
            margin-bottom: -10px;
          }
          .padding {
            padding-left: 100px;
          }

          .druk {
            font-size: 60px;
            margin-top: -10px;
          }
        }

        .wrapper {
          grid-column: 1 / 5;
          flex-direction: row;
          align-items: flex-start;
          margin-top: 20px;

          p {
            width: 50%;
          }

          .M_ButtonSurvey {
            margin-top: 0;
            margin-left: 30px;
          }
        }

        .bottom {
          padding-top: 200px;

          .image:first-child {
            grid-column: 1 / 2;
            width: 140%;
            height: 140px;
            margin-top: 0px;
          }

          .image:nth-child(2) {
            grid-column: 2 / 3;
            width: 140%;
            height: 200px;
            margin-top: -60px;
            margin-left: 20px;
          }
        }
      }
    }

    .inspo {
      .heading {
        grid-column: 1 / 3;
        z-index: 2;

        h3 {
          margin-bottom: 10px;
        }
      }

      .Q_Image {
        grid-column: 2 / 5;
      }

      .W_TagBar {
        grid-column: 1 / 5;
        margin-top: 20px;
      }
    }

    .social {
      .grid {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
      }
      .Q_Image {
        img {
          width: 250px;
        }
      }
      .wrapper {
        width: 250px;
        padding-left: 20px;
        h2 {
          font-size: 52px;
          margin-bottom: 20px;
        }
      }
    }
  }
}
