:root {
  --white: white;
  --black: #161616;
  --lightgray: #cacaca;
  --gray: #ebebeb;
  --darkgray: #3a3a3a;
  --green: #afff05;
  --darkgreen: #9be400;

  --ultrawide: 1636px;
  --wide: 716px;
  --narrow: 532px;
}

@media only screen and (min-width: 1280px) and (max-width: 1679px) {
  :root {
    --ultrawide: 1248px;
    --wide: 548px;
    --narrow: 408px;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1279px) {
  :root {
    --ultrawide: 960px;
    --wide: 420px;
    --narrow: 312px;
  }
}

@media only screen and (min-width: 744px) and (max-width: 1023px) {
  :root {
    --ultrawide: 708px;
    --wide: 308px;
    --narrow: 228px;
  }
}

@media only screen and (min-width: 360px) and (max-width: 743px) {
  :root {
    --ultrawide: 332px;
    --wide: 332px;
    --narrow: 332px;
  }
}
