body.zaglushka {
  background: var(--lightgray);
  height: 100%;
  .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    padding-right: 50px;
    background: var(--lightgray);
    z-index: 10;
    position: relative;
    p {
      font-size: 24px;
      font-weight: 400;
    }
    .text {
      line-height: 120%;
    }
    .number {
      font-family: 'DRUZHOK';
      font-weight: 400;
      font-size: 350px;
    }
    .normal {
      font-family: 'Druk Text Cyr';
      font-weight: 800;
      font-size: 48px;
      text-transform: uppercase;
    }
    .wide {
      font-family: 'Druk Text Wide Cyr';
      font-weight: 800;
      font-size: 48px;
      text-transform: uppercase;
      text-decoration-line: underline;
      text-decoration-thickness: 18px;
      text-decoration-color: var(--green);
    }
    .header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      height: 80px;

      background: transparent;

      align-items: center;
      position: sticky;
      z-index: 10;
      top: 0vh;

      .logo {
        width: 240px;
        height: 52px;
        background-image: url('images/logo.svg');
        background-position: left;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 2;
        // backdrop-filter: invert(1);
      }
      .networks {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
      }
      .icon {
        display: flex;
        margin-left: 30px;
        width: 30px;
        height: 30px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        cursor: pointer;
      }
      .telegram {
        background-image: url('images/telegram.svg');
      }
      .instagram {
        background-image: url('images/insta.svg');
      }
      .vk {
        width: 49px;
        background-image: url('images/vk.svg');
      }
      .dzen {
        background-image: url('images/dzen.svg');
      }
    }
    section {
      height: 100vh;
      overflow: hidden;
      display: flex;
      flex-direction: column;
    }
    .cover {
      align-items: center;
      .rectangle {
        width: 33vw;
        height: 100vh;
        background: var(--green);
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
      }

      .image {
        position: absolute;
        width: 205px;
        height: 220px;
        background-image: url('images/photo1.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        top: 30vh;
        z-index: 3;
      }
      .title {
        position: relative;
        z-index: 2;
        top: 10vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: var(--black);

        .Druzhok {
          font-family: 'DRUZHOK';
          font-weight: 400;
          // font-size: 220px;
          font-size: calc(50px + 170 * (100vw / 1920));
          position: absolute;
        }
        .secondline {
          display: flex;
          flex-direction: row;
          position: relative;
          margin-top: 140px;

          // .om {
          //   font-family: 'Druk Text Wide Cyr';
          //   font-weight: 800;
          //   font-size: 390px;
          //   letter-spacing: -70px;
          // }
          // .o {
          //   font-family: 'Druk Condensed Cyr Super';
          //   font-weight: 800;
          //   font-size: 390px;
          //   margin-left: 40px;
          // }
          // .d {
          //   font-family: 'Druk Text Cyr';
          //   font-weight: 800;
          //   font-size: 390px;
          //   letter-spacing: -35px;
          // }
          // .e {
          //   font-family: 'Druk Text Wide Cyr';
          //   font-weight: 800;
          //   font-size: 400px;
          // }
          .change {
            background-image: url('images/moda.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            width: 90vw;
            height: 275px;
          }
        }
        .bigunderline {
          width: 100%;
          height: 35px;
          background: var(--black);
          position: relative;
          margin-top: 0px;
        }
        .text {
          width: 22em;
          position: relative;
          left: 28vw;
          margin-top: 40px;
        }
      }
    }

    .n5 {
      flex-direction: row;
      .left {
        width: 40vw;
        .number {
          margin-left: 5px;
        }
      }
      .right {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        position: relative;

        .normal {
          margin-left: 350px;
        }
        .wide {
          line-height: 150%;
          margin-bottom: 20px;
        }
        .text {
          width: 16em;
          margin-left: 350px;
          margin-top: 30px;
        }
        .image2 {
          width: 225px;
          height: 337px;
          background-image: url('images/photo2.jpg');
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          position: absolute;
          top: 180px;
        }
        .image3 {
          width: 320px;
          height: 462px;
          background-image: url('images/photo3.jpg');
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          position: absolute;
          top: 300px;
          left: 225px;
        }
        .image4 {
          width: 204px;
          height: 305px;
          background-image: url('images/photo4.jpg');
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          position: absolute;
          top: 220px;
          left: 50vw;
        }
      }
    }
    .n4 {
      flex-direction: row;
      overflow: visible;
      .left {
        width: 50vw;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        .image5 {
          width: 50vw;
          height: 100vh;
          background-image: url('images/photo5.jpg');
          background-position: right;
          background-repeat: no-repeat;
          background-size: cover;
          position: absolute;
          left: -55px;
        }
        .rectangle {
          height: 200px;
          width: 50vw;
          position: absolute;
          left: -55px;
          background: var(--green);
        }
      }
      .right {
        width: 50vw;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        // width: 100%;
        position: relative;
        .number {
          margin-top: 100px;
          height: 270px;
        }
        .container {
          display: flex;
          flex-direction: column;

          .normal {
            margin-right: 290px;
          }
          .inline {
            display: inline-block;
            margin-top: 13px;
            padding-left: 150px;

            .normal {
              display: inline-block;
              margin-right: 0;
            }
            .wide {
              display: inline-block;
            }
          }
          .text {
            width: 18em;
            // margin-right: 230px;
            margin-top: 80px;
          }
        }
      }
    }
    .n3 {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      height: 90vh;
      .left {
        display: flex;
        flex-direction: row;
        .number {
          margin-top: 240px;
        }
        .container {
          display: flex;
          flex-direction: column;
          margin-top: 240px;
          margin-left: 5vw;
          .wide {
            margin-left: 60px;
            line-height: 170%;
          }
          .text {
            width: 20em;
            margin-top: 80px;
          }
        }
      }

      .image6 {
        background-image: url('images/photo6.png');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        width: 600px;
        height: 590px;
        // position: absolute;
        // left: 64vw;
        margin-top: -50px;
      }
    }
    .n2 {
      height: 90vh;
      display: flex;
      flex-direction: row;
      overflow: visible;
      .left {
        display: flex;
        flex-direction: column;
        width: 80vw;
        height: 70vh;

        .influencer {
          width: 70vw;
          font-family: 'Druk Text Cyr';
          font-weight: 800;
          font-size: 48px;
          text-transform: uppercase;
          line-height: 230%;
          cursor: default;
        }
        .style {
          position: absolute;
          left: 40vw;
          z-index: -1;
          display: none;
          background-position: center;
          background-repeat: no-repeat;
        }
        .container-lil {
          width: 325px;
          height: 325px;
          background-image: url('images/lil.jpg');
          background-size: contain;
        }
        .container-fred {
          width: 300px;
          height: 450px;
          left: 60vw;
          margin-top: -200px;
          background-image: url('images/fred.jpg');
          background-size: cover;
        }
        .container-doja {
          width: 450px;
          height: 250px;
          left: 35vw;
          margin-top: -200px;
          background-image: url('images/doja.jpg');
          background-size: cover;
        }
        .container-niki {
          width: 360px;
          height: 500px;
          left: 45vw;
          margin-top: -400px;
          background-image: url('images/niki.jpg');
          background-size: cover;
        }
        .container-billie {
          width: 436px;
          height: 346px;
          left: 45vw;
          margin-top: -400px;
          background-image: url('images/billie.jpg');
          background-size: cover;
          background-position: center top;
        }

        .influencer:hover {
          font-family: 'Druk Text Wide Cyr';
          font-weight: 800;
          font-size: 48px;
          text-transform: uppercase;
          text-decoration-line: underline;
          text-decoration-thickness: 18px;
          text-decoration-color: var(--green);
        }
        .lil:hover .container-lil {
          display: block;
        }
        .fred:hover .container-fred {
          display: block;
        }
        .doja:hover .container-doja {
          display: block;
        }
        .niki:hover .container-niki {
          display: block;
        }
        .billie:hover .container-billie {
          display: block;
        }
      }
      .right {
        display: flex;
        justify-content: flex-end;
        position: relative;
        width: 100%;

        .number {
          margin-top: 50px;
        }
        .rectangle {
          height: 90vh;
          width: 150px;
          left: calc(100% - 100px);
          background: var(--green);
          position: absolute;
          z-index: -1;
        }
      }
    }

    .n2-mobile {
      overflow: hidden;
      display: none;
      .top {
        .inline {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          margin-top: 40px;
          .text {
            width: 16em;
            margin-top: 30px;
          }
        }
      }
      .bottom {
        margin-top: 40px;
        .slider-gallery {
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          justify-content: flex-start;
          animation: flow 10s ease-out 1.5s infinite alternate-reverse forwards;

          @keyframes flow {
            0% {
              transform: translateX(-800px);
            }
            30% {
              transform: translateX(-800px);
            }

            100% {
              transform: translateX(0);
            }
          }

          .style {
            width: 210px;
            height: 290px;
            margin-left: 20px;
          }
          .center {
            display: flex;
            flex-direction: column;
            align-items: center;
          }

          .container-lil {
            // width: 325px;
            // height: 325px;
            background-image: url('images/lil.jpg');
            background-size: cover;
            margin-left: 0;
          }
          .container-fred {
            // width: 300px;
            // height: 450px;
            // left: 60vw;
            // margin-top: -200px;
            background-image: url('images/fred.jpg');
            background-size: cover;
            background-position: right;
          }
          .container-doja {
            // width: 450px;
            // height: 250px;
            // left: 35vw;
            // margin-top: -200px;
            background-image: url('images/doja.jpg');
            background-size: cover;
            background-position: center;
          }
          .container-niki {
            // width: 360px;
            // height: 500px;
            // left: 45vw;
            // margin-top: -400px;
            background-image: url('images/niki.jpg');
            background-size: cover;
            background-position: center;
          }
          .container-billie {
            // width: 436px;
            // height: 346px;
            // left: 45vw;
            // margin-top: -400px;
            background-image: url('images/billie.jpg');
            background-size: cover;
            background-position: center top;
          }
          .influencer {
            font-family: 'Druk Text Cyr';
            font-weight: 800;
            font-size: 18px;
            text-transform: uppercase;
            cursor: default;
            margin-top: 20px;
          }
        }
      }
    }

    .n1 {
      display: flex;
      flex-direction: column;
      overflow: hidden;
      height: 100vh;
      // justify-content: center;
      // align-items: center;

      a {
        color: var(--black);
        text-decoration-color: var(--green);
      }
      .series-gallery {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 800px;
        margin-top: -200px;
        // overflow: hidden;
        // margin-left: -20px;

        .gallery1,
        .gallery2,
        .gallery3,
        .gallery4 {
          position: relative;
          background-color: transparent;
        }
        .gallery1:hover,
        .gallery2:hover,
        .gallery3:hover,
        .gallery4:hover {
          background-color: var(--green);
        }
        .carry {
          background-color: transparent;
          // padding-top: 50px;
          // padding-bottom: 70px;
          width: 16vw;
          height: 380px;
          margin-top: 100px;
          margin-bottom: 30px;
          background-image: url('images/carry.jpg');
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
        }
        // .carry:hover {
        //   background-color: var(--green);
        // }

        .juls {
          // padding-top: 50px;
          // padding-bottom: 70px;
          width: 26vw;
          height: 600px;
          background-image: url('images/juls.jpg');
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
          margin-top: 100px;
          margin-bottom: 30px;
        }

        .euphoria {
          width: 36vw;
          height: 500px;
          background-image: url('images/euphoria.jpg');
          background-position: top center;
          background-size: cover;
          background-repeat: no-repeat;
          margin-top: 100px;
          margin-bottom: 30px;
        }
        .samanta {
          width: 16vw;
          height: 380px;
          background-image: url('images/samanta.jpg');
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
          margin-top: 100px;
          margin-bottom: 30px;
        }
      }

      .lastheading {
        display: flex;
        flex-direction: row;

        .text {
          // margin-bottom: 100px;
          margin-left: 520px;
          margin-top: 100px;
          width: 19em;
        }
      }
    }
    .launch-bg {
      height: 350px;
      width: 800px;
      margin-bottom: 200px;
      background-color: var(--green);
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: auto;
      margin-right: auto;
      padding-bottom: 100px;

      .launch {
        margin-top: 80px;
        margin-bottom: 60px;
        // height: 60vh;
        width: 700px;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;

        .title-launch {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          width: 660px;
        }

        .line-launch {
          width: 94%;
          height: 1px;
          background-color: var(--black);
          margin-top: 30px;
          margin-bottom: 10px;
        }

        .subtitle-launch {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          width: 660px;
          margin-bottom: 30px;
        }

        .normal1 {
          font-family: 'Druk Text Cyr';
          font-weight: 800;
          font-size: 48px;
          text-transform: uppercase;
          // margin-left: 300px;
        }
        .normal {
          display: inline-block;
          font-size: 59px;
          // margin-left: -50px;
          // margin-top: 14px;
        }
        .wide {
          display: inline-block;
          font-size: 59px;
          margin-left: 15px;
          line-height: 94%;
          // margin-top: 14px;
          // margin-bottom: 100px;
        }
      }
    }

    form {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 660px;
      // padding-left: 20px;
    }
    input {
      width: 460px;
      height: 70px;
      background: black;
      // border-radius: 12px;
      border: none;
      font-family: 'Druk Text Wide Cyr';
      font-weight: 200;
      font-size: 14px;

      padding: 0 25px;
    }
    button {
      // padding-left: 27px;
      display: flex;
      flex-direction: row;
      align-content: center;
      align-items: center;
      justify-content: center;
      font-family: 'Druk Text Wide Cyr';
      font-weight: 200;
      font-size: 14px;
      // width: 13.1em;
      width: 200px;
      height: 70px;
      // border-radius: 12px;
      border: none;
      background: white;
      // margin-left: 20px;
      color: var(--black);
      transition: 0.3s;

      h4 {
        font-size: 16px;
        font-weight: 500;
        // position: unset;
        color: var(--black);
      }
    }

    button:hover {
      background: black;
      cursor: pointer;
      h4 {
        color: white;
      }
    }
  }
  .opacity {
    height: 300px;
    background: transparent;
  }
  .footer {
    background: var(--black);
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: space-between;
    overflow: visible;
    width: 100vw;
    height: 300px;
    margin: 0;
    padding-top: 80px;
    padding-left: 50px;
    padding-right: 50px;
    position: fixed;
    bottom: 0;
    z-index: 0;

    p {
      font-family: 'Druk Text Wide Cyr';
      font-weight: 200;
      font-size: 14px;
      line-height: 150%;
      color: var(--green);
    }
  }
}

@media only screen and (min-width: 1366px) and (max-width: 1728px) {
  body.zaglushka {
    .content {
      p {
        font-size: 18px;
      }
      .cover {
        .title {
          .Druzhok {
            font-size: calc(50px + 170 * (100vw / 1920));
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1365px) {
  body.zaglushka {
    .content {
      padding-left: 30px;
      padding-right: 30px;
      p {
        font-size: 14px;
      }
      .normal,
      .wide {
        font-size: 34px;
      }
      .number {
        font-size: 250px;
      }
      .header {
        .logo {
          width: 125px;
          height: 28px;
        }
        .icon {
          width: 24px;
          height: 24px;
        }
        .vk {
          width: 40px;
        }
      }
      .cover {
        .image {
          width: 150px;
          height: 158px;
        }
        .title {
          .change {
            height: 215px;
          }
        }
      }

      .n5 {
        .left {
          width: 30vw;
        }
        .right {
          .image2 {
            width: 165px;
            height: 245px;
          }
          .image3 {
            width: 234px;
            height: 336px;
            left: 164px;
          }
          .image4 {
            width: 150px;
            height: 222px;
          }
        }
      }

      .n4 {
        .left {
          .image5 {
            width: 45vw;
          }
          .rectangle {
            width: 45vw;
          }
        }
        .right {
          .container {
            .inline {
              padding-left: 105px;
            }
          }
        }
      }

      .n2 {
        .left {
          .influencer {
            font-size: 34px;
            line-height: 260%;
          }
          .influencer:hover {
            font-size: 34px;
          }
          .lil {
            margin-top: 80px;
            .container-lil {
              width: 280px;
              height: 280px;
            }
          }
          .fred {
            .container-fred {
              width: 215px;
              height: 315px;
            }
          }
          .doja {
            .container-doja {
              width: 400px;
              height: 200px;
              margin-top: -150px;
            }
          }
          .niki {
            .container-niki {
              width: 300px;
              height: 440px;
            }
          }
          .billie {
            .container-billie {
              width: 350px;
              height: 250px;
              margin-top: -360px;
            }
          }
        }
        .right {
          .rectangle {
            left: calc(100% - 60px);
            width: 87px;
          }
        }
      }
      .n1 {
        .series-gallery {
          .carry,
          .juls,
          .euphoria,
          .samanta {
            margin-top: 50px;
          }
        }
      }
      .launch {
        margin-top: 70px;
        .normal1 {
          font-size: 34px;
        }
      }
    }
  }
}

@media only screen and (min-width: 615px) and (max-width: 1024px) {
  body.zaglushka {
    .content {
      padding-left: 30px;
      padding-right: 30px;
      p {
        font-size: 12px;
      }
      .normal,
      .wide {
        font-size: 24px;
        line-height: 130%;
      }
      .number {
        font-size: 180px;
      }
      .header {
        .logo {
          width: 125px;
          height: 28px;
        }
        .icon {
          width: 24px;
          height: 24px;
        }
        .vk {
          width: 40px;
        }
      }
      .cover {
        height: 50vh;
        .rectangle {
          height: 60vh;
        }
        .image {
          width: 105px;
          height: 115px;
          top: 200px;
        }
        .title {
          top: 5vh;
          .secondline {
            margin-top: 80px;
            .change {
              height: 20vw;
            }
          }
          .Druzhok {
            font-size: calc(
              50px + (170 + 170 * 0.65) * ((100vw - 320px) / 1920)
            );
          }
        }
      }
      .n5 {
        height: 55vh;
        margin-top: 100px;
        .left {
          width: 30vw;
        }
        .right {
          .normal {
            margin-left: 150px;
          }
          .text {
            margin-left: 150px;
            margin-top: 20px;
          }
          .image2 {
            width: 115px;
            height: 175px;
            top: 140px;
          }
          .image3 {
            width: 168px;
            height: 242px;
            left: 114px;
            top: 200px;
          }
          .image4 {
            width: 105px;
            height: 160px;
            top: 150px;
          }
        }
      }
      .n4 {
        height: 55vh;
        .left {
          .image5 {
            height: 55vh;
            width: 50vw;
          }
          .rectangle {
            width: 50vw;
          }
        }
        .right {
          .number {
            height: 180px;
          }
          .container {
            .normal {
              margin-right: 0;
            }
            .inline {
              padding-left: 75px;
            }
            .text {
              margin-top: 50px;
            }
          }
        }
      }
      .n3 {
        height: 40vh;
        .left {
          .number {
            margin-top: 150px;
          }
          .container {
            margin-top: 120px;
          }
        }
        .image6 {
          margin-top: -160px;
        }
      }
      .n2 {
        height: 50vh;
        .left {
          .influencer {
            font-size: 24px;
            line-height: 280%;
          }
          .influencer:hover {
            font-size: 24px;
          }
          .lil {
            margin-top: 80px;
            .container-lil {
              width: 200px;
              height: 200px;
            }
          }
          .fred {
            .container-fred {
              width: 155px;
              height: 215px;
              margin-top: -130px;
            }
          }
          .doja {
            .container-doja {
              width: 300px;
              height: 200px;
              margin-top: -150px;
            }
          }
          .niki {
            .container-niki {
              width: 150px;
              height: 250px;
              margin-top: -200px;
            }
          }
          .billie {
            .container-billie {
              width: 250px;
              height: 150px;
              margin-top: -220px;
            }
          }
        }
        .right {
          .rectangle {
            left: calc(100% - 60px);
            width: 87px;
            height: 50vh;
          }
        }
      }

      .n1 {
        height: 60vh;
        .lastheading {
          .text {
            margin-left: 260px;
            margin-top: 50px;
          }
        }
        .series-gallery {
          margin-top: -160px;
          .carry,
          .samanta {
            height: 280px;
          }
          .juls {
            height: 400px;
          }
          .euphoria {
            height: 330px;
          }
          .carry,
          .juls,
          .euphoria,
          .samanta {
            margin-top: 40px;
          }
        }
      }
      .launch-bg {
        width: 90vw;
      }
    }
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* iPad Portrait */
  body.zaglushka {
    .content {
      padding-left: 30px;
      padding-right: 30px;
      p {
        font-size: 12px;
      }
      .normal,
      .wide {
        font-size: 24px;
        line-height: 130%;
      }
      .number {
        font-size: 180px;
      }
      .header {
        .logo {
          width: 125px;
          height: 28px;
        }
        .icon {
          width: 24px;
          height: 24px;
        }
        .vk {
          width: 40px;
        }
      }
      .cover {
        height: 50vh;
        .rectangle {
          height: 60vh;
        }
        .image {
          width: 105px;
          height: 115px;
          top: 200px;
        }
        .title {
          top: 5vh;
          .secondline {
            margin-top: 80px;
            .change {
              height: 20vw;
            }
          }
          .Druzhok {
            font-size: calc(
              50px + (170 + 170 * 0.65) * ((100vw - 320px) / 1920)
            );
          }
        }
      }
      .n5 {
        height: 55vh;
        margin-top: 100px;
        .left {
          width: 30vw;
        }
        .right {
          .normal {
            margin-left: 150px;
          }
          .text {
            margin-left: 150px;
            margin-top: 20px;
          }
          .image2 {
            width: 115px;
            height: 175px;
            top: 140px;
          }
          .image3 {
            width: 168px;
            height: 242px;
            left: 114px;
            top: 200px;
          }
          .image4 {
            width: 105px;
            height: 160px;
            top: 150px;
          }
        }
      }
      .n4 {
        height: 55vh;
        .left {
          .image5 {
            height: 55vh;
            width: 50vw;
          }
          .rectangle {
            width: 50vw;
          }
        }
        .right {
          .number {
            height: 180px;
          }
          .container {
            .normal {
              margin-right: 0;
            }
            .inline {
              padding-left: 75px;
            }
            .text {
              margin-top: 50px;
            }
          }
        }
      }
      .n3 {
        height: 40vh;
        .left {
          .number {
            margin-top: 150px;
          }
          .container {
            margin-top: 120px;
          }
        }
        .image6 {
          margin-top: -160px;
        }
      }
      .n2 {
        display: none;
      }

      .n2-mobile {
        display: block;
        height: 70vh;
        .bottom {
          margin-top: 0;
          .slider-gallery {
            @keyframes flow {
              0% {
                transform: translateX(-350px);
              }
              30% {
                transform: translateX(-350px);
              }

              100% {
                transform: translateX(0);
              }
            }
          }
        }
      }

      .n1 {
        height: 60vh;
        .lastheading {
          .text {
            margin-left: 260px;
            margin-top: 50px;
          }
        }
        .series-gallery {
          margin-top: -160px;
          .carry,
          .samanta {
            height: 280px;
          }
          .juls {
            height: 400px;
          }
          .euphoria {
            height: 330px;
          }
          .carry,
          .juls,
          .euphoria,
          .samanta {
            margin-top: 40px;
          }
        }
      }
      .launch-bg {
        width: 90vw;
        .launch {
          input {
            width: 480px;
          }
        }
      }
    }
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1180px) and (orientation: landscape) {
  /* iPad Landscape */
  body.zaglushka {
    .content {
      padding-left: 30px;
      padding-right: 30px;
      p {
        font-size: 14px;
      }
      .normal,
      .wide {
        font-size: 34px;
      }
      .number {
        font-size: 250px;
      }
      .header {
        .logo {
          width: 125px;
          height: 28px;
        }
        .icon {
          width: 24px;
          height: 24px;
        }
        .vk {
          width: 40px;
        }
      }
      .cover {
        .image {
          width: 150px;
          height: 158px;
        }
        .title {
          .change {
            height: 215px;
          }
        }
      }

      .n5 {
        height: 100vh;
        .left {
          width: 30vw;
        }
        .right {
          .image2 {
            width: 165px;
            height: 245px;
          }
          .image3 {
            width: 234px;
            height: 336px;
            left: 164px;
          }
          .image4 {
            width: 150px;
            height: 222px;
          }
        }
      }

      .n4 {
        height: 100vh;
        .left {
          .image5 {
            width: 45vw;
            height: 100vh;
          }
          .rectangle {
            width: 45vw;
          }
        }
        .right {
          .container {
            .inline {
              padding-left: 105px;
            }
          }
        }
      }
      .n3 {
        height: 80vh;
      }

      .n2 {
        display: none;
      }

      .n2-mobile {
        display: block;
        height: 100vh;
        .bottom {
          margin-top: 0;

          .slider-gallery {
            animation: none;
          }
        }
      }

      .n1 {
        height: 100vh;
        .series-gallery {
          .carry,
          .juls,
          .euphoria,
          .samanta {
            margin-top: 50px;
          }
        }
      }
      .launch-bg {
        width: 90vw;
        .launch {
          input {
            width: 480px;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 220px) and (max-width: 614px) {
  body.zaglushka {
    .content {
      padding-left: 20px;
      padding-right: 20px;
      p {
        font-size: 12px;
      }
      .normal,
      .wide {
        font-size: 25px;
        line-height: 130%;
      }
      .wide {
        text-decoration-thickness: 8px;
      }
      .number {
        font-size: 110px;
      }
      .header {
        .logo {
          width: 90px;
          height: 20px;
        }
        .icon {
          width: 20px;
          height: 20px;
        }
        .vk {
          width: 36px;
        }
      }
      .cover {
        height: 100vh;
        .rectangle {
          height: 100vh;
        }
        .image {
          width: 175px;
          height: 185px;
          top: 160px;
        }
        .title {
          top: 30vh;
          .text {
            width: 14em;
          }
          .Druzhok {
            font-size: calc(
              50px + (170 + 170 * 0.5) * ((100vw - 320px) / 1920)
            );
          }
          .secondline {
            margin-top: 50px;

            .change {
              height: 20vw;
            }
          }
          .bigunderline {
            height: 15px;
          }
        }
      }
      .n5 {
        // overflow: visible;
        height: 100vh;
        .right {
          .heading {
            margin-top: 80px;
            // margin-left: 30px;
            .normal {
              font-size: 18px;
              margin-left: 70px;
            }
            .wide {
              font-size: 18px;
              margin-bottom: 14px;
              margin-top: 4px;
            }
            .text {
              margin-left: 72px;
            }
          }
          .image2 {
            width: 140px;
            height: 225px;
            left: -112px;
          }
          .image3 {
            width: 155px;
            height: 235px;
            left: 28px;
            margin-left: 10px;
          }
          .image4 {
            width: 100px;
            height: 160px;
            left: 34vw;
            top: 533px;
            margin-top: 10px;
          }
        }
      }

      .n4 {
        overflow: hidden;
        height: 85vh;
        .left {
          justify-content: flex-start;
          .image5 {
            height: 235px;
            width: 150px;
            left: 0;
            margin-top: 280px;
            position: relative;
          }
          .rectangle {
            width: 150px;
            height: 100px;
            left: 0;
            position: relative;
          }
        }
        .right {
          .number {
            height: 50px;
          }
          .container {
            .normal {
              width: 6em;
              margin-right: 50vw;
            }
            .inline {
              padding-left: 40px;
              margin-top: 10px;
            }
            .text {
              margin-left: 42vw;
              width: 14em;
            }
          }
        }
      }

      .n3 {
        height: 50vh;
        overflow: hidden;
        .left {
          .number {
            margin-top: 120px;
          }
          .container {
            margin-top: 120px;

            .wide {
              margin-left: 0;
              font-size: 23px;
            }
            .text {
              margin-top: 25px;
              width: 14em;
            }
          }
        }
        .image6 {
          position: absolute;
          width: 200px;
          height: 200px;
          left: 48vw;
        }
      }

      .n2 {
        display: none;
      }

      .n2-mobile {
        display: block;
        height: 85vh;
      }

      .n1 {
        height: 80vh;
        .lastheading {
          .text {
            margin-left: 100px;
            width: 12em;
            margin-top: 40px;
          }
        }
        .series-gallery {
          .gallery4 {
            display: none;
          }
          .carry {
            width: 100px;
            height: 250px;
          }
          .juls {
            width: 150px;
            height: 300px;
          }
          .euphoria {
            height: 250px;
            width: 150px;
          }
        }
      }
      .launch-bg {
        width: 90vw;
        height: 260px;

        .launch {
          margin-top: 50px;
          width: 306px;

          .title-launch {
            width: 306px;
          }
          .normal {
            font-size: 26px;
          }
          .wide {
            font-size: 28px;
            line-height: 105%;
            margin-left: 0px;
          }
          .subtitle-launch {
            width: 306px;
          }
          .line-launch {
            margin-top: 15px;
            width: 99%;
          }
          #my-form {
            width: 306px;
          }
          input {
            width: 206px;
            font-size: 10px;
          }
          button {
            margin-left: 0;
            width: 100px;
            h4 {
              font-size: 10px;
            }
          }
        }
      }
    }
    .footer {
      p {
        font-size: 10px;
      }
    }
  }
}

@media only screen and (min-width: 220px) and (max-width: 360px) {
  body.zaglushka {
    .content {
      .normal,
      .wide {
        font-size: 20px;
        line-height: 130%;
      }

      .number {
        font-size: 100px;
      }

      .cover {
        height: 100vh;
        .image {
          width: 125px;
          height: 135px;
          top: 160px;
        }
        .title {
          .Druzhok {
            font-size: calc(
              50px + (170 + 170 * 0.4) * ((100vw - 320px) / 1920)
            );
          }
        }
      }
      .n4 {
        .left {
          .image5 {
            width: 140px;
          }
          .rectangle {
            width: 140px;
          }
        }
        .right {
          width: 45vw;

          .container {
            .inline {
              padding-left: 20px;
              margin-top: 0px;
            }
          }
        }
      }
      .n3 {
        .left {
          .container {
            .wide {
              font-size: 20px;
            }
          }
        }
        .image6 {
          display: none;
        }
      }

      .launch-bg {
        width: 90vw;
      }
    }
  }
}
