<section class="S_NavBar white">
  <div class="O_NavBar">
    <div class="W_NavBar">
      <a class="A_Logo white" href="/"></a>
      <div class="W_NavBarCategories">
        <div class="C_NavBarCategories">
          <a class="A_NavBarCategory white" href="/styles.html">СТИЛИ</a>
          <a class="A_NavBarCategory white" href="/influencers.html"
            >ИНФЛЮЕНСЕРЫ</a
          >
          <a class="A_NavBarCategory white" href="/antitrends.html"
            >АНТИТРЕНДЫ</a
          >

          <div class="W_Search"></div>
        </div>

        <!-- <div class="Q_SearchIcon white"></div> -->
      </div>
      <div class="W_Search white mobile"></div>
      <div class="Q_NavBarBurger white"></div>
      <div class="M_Menu black">
        <div class="Q_Close black"></div>
        <div class="C_NavBarCategories">
          <a class="A_NavBarCategory" href="/">ГЛАВНАЯ</a>
          <a class="A_NavBarCategory" href="/styles.html">СТИЛИ</a>
          <a class="A_NavBarCategory" href="/influencers.html">ИНФЛЮЕНСЕРЫ</a>
          <a class="A_NavBarCategory" href="/antitrends.html">АНТИТРЕНДЫ</a>

          <div class="W_Search white"></div>
        </div>
      </div>
    </div>
  </div>
</section>
