<section class="S_Footer white">
  <div class="O_Footer">
    <div class="M_CategoriesFooter">
      <a href="/" class="A_BoldTextFooter white">Главная</a>
    </div>

    <div class="M_CategoriesFooter">
      <a href="/about.html" class="A_BoldTextFooter white">О проекте</a>
    </div>

    <div class="M_CategoriesFooter">
      <a href="/styles.html" class="A_BoldTextFooter white">Каталог</a>
      <a href="/styles.html#retro" class="A_NormTextFooter white">Retro</a>
      <a href="/styles.html#basic" class="A_NormTextFooter white">Basic</a>
      <a href="/styles.html#casual" class="A_NormTextFooter white">Casual</a>
      <a href="/styles.html#alternative" class="A_NormTextFooter white"
        >Alternative</a
      >
      <a href="styles.html#fancy" class="A_NormTextFooter white">Fancy</a>
    </div>

    <div class="M_CategoriesFooter">
      <a href="/influencers.html" class="A_BoldTextFooter white">Инфлюенсеры</a>
      <a href="/influencers.html" class="A_NormTextFooter white">Звезды</a>
      <a href="/influencers.html" class="A_NormTextFooter white"
        >Кино и сериалы</a
      >
    </div>

    <div class="M_CategoriesFooter">
      <a href="/antitrends.html" class="A_BoldTextFooter white">Антитренды</a>
    </div>

    <div class="W_SocialMediaIcons">
      <a
        href="https://t.me/blogfancyu"
        target="_blank"
        class="Q_SocialMediaIcon tg white"
      ></a>
      <a
        href="https://instagram.com/wow.mag_"
        target="_blank"
        class="Q_SocialMediaIcon inst white"
      ></a>
      <a
        href="https://vk.com/blogfancyu"
        target="_blank"
        class="Q_SocialMediaIcon vk white"
      ></a>
      <a
        href="https://dzen.ru/wowmag"
        target="_blank"
        class="Q_SocialMediaIcon dzen white"
      ></a>
    </div>

    <div class="W_CopyrightFooter">
      <div class="A_BoldTextFooter white">HSE ADC</div>
      <div class="A_BoldTextFooter white">2022–2023</div>
    </div>

    <div class="W_NamesFooter">
      <div class="A_BoldTextFooter white">Захар День</div>
      <div class="A_BoldTextFooter white">Соня Каем</div>
      <div class="A_BoldTextFooter white">Моргулёва Татьяна</div>
      <div class="A_BoldTextFooter white">Никифорова Екатерина</div>
    </div>
  </div>
</section>
