<div class="footer">
  <div class="rights">
    <p>@All rights reserved</p>
    <p>2022</p>
  </div>
  <a href="about.html" class="h5 about">О проекте</a>
  <div class="catalog c1">
    <a href="styles-library.html" class="h5">Каталог</a>
    <a href="styles-library/name.html" class="p">Retro</a>
    <a href="styles-library/name.html" class="p">Streatwear</a>
    <a href="styles-library/name.html" class="p">Grunge</a>
    <a href="styles-library/name.html" class="p">Classic</a>
    <a href="styles-library/name.html" class="p">Camp</a>
    <a href="styles-library/name.html" class="p">Military</a>
  </div>
  <div class="catalog c2">
    <a href="styles-library/name.html" class="p">Minimalism</a>
    <a href="styles-library/name.html" class="p">Baby Doll</a>
    <a href="styles-library/name.html" class="p">Work</a>
    <a href="styles-library/name.html" class="p">Gothic</a>
    <a href="styles-library/name.html" class="p">Oversize</a>
    <a href="styles-library/name.html" class="p">Boho</a>
  </div>
  <div class="influencers">
    <a href="influencers.html" class="h5">Инфлюенсеры</a>
    <a href="influencers.html" class="p">Звёзды</a>
    <a href="influencers.html" class="p">Персонажи фильмов</a>
  </div>
  <a href="antitrends.html" class="h5 antitrends">Антитренды</a>
</div>
