<section class="S_Footer green">
  <div class="O_Footer">
    <div class="M_CategoriesFooter">
      <a href="/" class="A_BoldTextFooter">Главная</a>
    </div>

    <div class="M_CategoriesFooter">
      <a href="/about.html" class="A_BoldTextFooter">О проекте</a>
    </div>

    <div class="M_CategoriesFooter">
      <a href="#" class="A_BoldTextFooter">Каталог</a>
      <a href="#" class="A_NormTextFooter">Retro</a>
      <a href="#" class="A_NormTextFooter">Basic</a>
      <a href="#" class="A_NormTextFooter">Casual</a>
      <a href="#" class="A_NormTextFooter">Alternative</a>
      <a href="#" class="A_NormTextFooter">Fancy</a>
    </div>

    <div class="M_CategoriesFooter">
      <a href="#" class="A_BoldTextFooter">Инфлюенсеры</a>
      <a href="#" class="A_NormTextFooter">Звезды</a>
      <a href="#" class="A_NormTextFooter">Кино и сериалы</a>
    </div>

    <div class="M_CategoriesFooter">
      <a href="#" class="A_BoldTextFooter">Антитренды</a>
    </div>

    <div class="W_SocialMediaIcons">
      <a
        href="https://t.me/blogfancyu"
        target="_blank"
        class="Q_SocialMediaIcon tg"
      ></a>
      <a
        href="https://instagram.com/wow.mag_"
        target="_blank"
        class="Q_SocialMediaIcon inst"
      ></a>
      <a
        href="https://vk.com/blogfancyu"
        target="_blank"
        class="Q_SocialMediaIcon vk"
      ></a>
      <a
        href="https://dzen.ru/wowmag"
        target="_blank"
        class="Q_SocialMediaIcon dzen"
      ></a>
    </div>

    <div class="W_CopyrightFooter">
      <div class="A_BoldTextFooter">HSE ADC</div>
      <div class="A_BoldTextFooter">2022–2023</div>
    </div>

    <div class="W_NamesFooter">
      <div class="A_BoldTextFooter">Захар День</div>
      <div class="A_BoldTextFooter">Соня Каем</div>
      <div class="A_BoldTextFooter">Моргулёва Татьяна</div>
      <div class="A_BoldTextFooter">Никифорова Екатерина</div>
    </div>
  </div>
</section>
