.A_Input {
  display: inline-block;
  width: 24px;
  height: 40px;
  padding: 14px 10px;
  font-size: 0px;
  font-family: 'Inter';
  color: var(--black);
  border: none;
  outline: none;
  background-color: transparent;
  transition: width 0.5s ease-out;
  cursor: pointer;
  z-index: 2;
}

.A_Input:focus:hover {
  font-size: 14px;
  border-bottom: 5px solid var(--green);
}

.A_Input:focus {
  width: 230px;
  font-size: 14px;
  border-bottom: 5px solid var(--green);
  cursor: text;
}

.A_Input:focus ~ .A_Button {
  z-index: 3;
}

@media only screen and (min-width: 1024px) and (max-width: 1279px) {
  .A_Input {
    width: 150px;
    height: 24px;
    padding: 4px 30px;
    font-size: 12px;
  }
}

@media only screen and (min-width: 744px) and (max-width: 1023px) {
  .A_Input {
    width: 120px;
    height: 24px;
    padding: 4px 28px;
    font-size: 12px;
  }
}
